<template>
  <div class="dashboard-resources-list">
    <h3 class="dashboard-h3">Ressources</h3>

    <ul class="dashboard-resources-list__list">
      <li class="dashboard-resources-list__item" v-if="inCarLoaningCommunity">
        <router-link to="/assurances-desjardins" class="">
          <img class="dashboard-resources-list__item-image" src="/icons/Assurance_vecteur.svg" />

          <div class="dashboard-resources-list__item-content">Mon assurance</div>
        </router-link>
      </li>

      <li class="dashboard-resources-list__item" v-if="startingGuideUrls.length > 0">
        <img class="dashboard-resources-list__item-image" src="/icons/Guide-depart_vecteur.svg" />

        <div class="dashboard-resources-list__item-content">
          <!-- If approved in more than one community, then display bullet lists for chat groups and starting guides -->
          <a v-if="approvedCommunities.length === 1" :href="startingGuideUrls[0].url">
            Guide de départ
          </a>
          <template v-else> Guides de départ </template>

          <template v-if="approvedCommunities.length > 1">
            <ul>
              <li v-for="c in startingGuideUrls">
                <a :href="c.url" target="_blank">{{ c.community }}</a>
              </li>
            </ul>
          </template>
        </div>
      </li>

      <li class="dashboard-resources-list__item" v-if="communitiesWithChatGroup.length > 0">
        <img class="dashboard-resources-list__item-image" src="/icons/messenger.png" />

        <div class="dashboard-resources-list__item-content">
          <!-- If approved in more than one community, then display bullet lists for chat groups and starting guides -->
          <a
            v-if="approvedCommunities.length == 1"
            :href="communitiesWithChatGroup[0].chat_group_url"
          >
            Discuter avec mon quartier LocoMotion
          </a>
          <template v-else> Discuter avec mon quartier LocoMotion </template>

          <template
            v-if="approvedCommunities.length > 1"
            class="dashboard-resources-list__item-content"
          >
            <ul>
              <li v-for="c in communitiesWithChatGroup" :key="c.id">
                <a :href="c.chat_group_url" target="_blank">{{ c.name }}</a>
              </li>
            </ul>
          </template>
        </div>
      </li>

      <li class="dashboard-resources-list__item" v-if="inCarLoaningCommunity">
        <a href="https://info.locomotion.app/tarifs-autopartage/">
          <img class="dashboard-resources-list__item-image" src="/icons/Tarification_vecteur.svg" />

          <div class="dashboard-resources-list__item-content">Combien ça coute?</div>
        </a>
      </li>

      <li class="dashboard-resources-list__item">
        <router-link to="/faq">
          <img class="dashboard-resources-list__item-image" src="/icons/FAQ_vecteur.svg" />

          <div class="dashboard-resources-list__item-content">FAQ</div>
        </router-link>
      </li>

      <li class="dashboard-resources-list__item" v-if="inCommunityUsingNoke">
        <a href="https://info.locomotion.app/cadenas-intelligents-noke-pro/">
          <img
            class="dashboard-resources-list__item-image"
            src="/icons/Depannage-cadenas_vecteur.png"
          />

          <div class="dashboard-resources-list__item-content">Dépannage Noke</div>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "DashboardResourcesList",
  props: {
    user: {
      required: true,
      type: Object,
    },
  },
  computed: {
    approvedCommunities() {
      return this?.user?.approved_communities ?? [];
    },
    communitiesWithChatGroup() {
      if (!this.user || !this.user.approved_communities) {
        return [];
      }
      return this.user.approved_communities.filter((c) => !!c.chat_group_url);
    },
    inCarLoaningCommunity() {
      return this.user.available_loanable_types.includes("car");
    },
    inCommunityUsingNoke() {
      if (!this.user || !this.user.approved_communities) {
        return false;
      }

      return this.user.approved_communities.reduce((acc, c) => acc || c.uses_noke, false);
    },
    startingGuideUrls() {
      let communityStartingGuides = [];

      if (this?.user?.approved_communities) {
        communityStartingGuides = this.user.approved_communities
          .filter((c) => c.starting_guide_url)
          .map((c) => ({ community: c.name, url: c.starting_guide_url }));
      }

      if (communityStartingGuides.length > 0) {
        return communityStartingGuides;
      }

      return [];
    },
  },
};
</script>

<style lang="scss">
.dashboard-resources-list {
  a {
    &,
    &:hover,
    &:active,
    &:focus {
      color: $locomotion-green;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    margin-top: 1rem;
    padding-left: 3.5rem;
    min-height: 3.5rem;
  }

  &__item-image {
    position: absolute;

    top: 0;
    left: 0;

    height: 3.5rem;
    width: 3.5rem;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 3.5rem;
    margin-left: 1rem;

    & > ul {
      padding-left: 1.5rem;
    }
    & > ul > li {
      list-style-type: none;
    }
  }
}
</style>
