<template>
  <b-card :class="{ archived: user.deleted_at }">
    <b-row>
      <b-col cols="auto" class="center pr-0">
        <user-avatar :user="user"></user-avatar>
      </b-col>
      <b-col class="center">
        <span>
          <template v-if="showAdminLink && userLink">
            <router-link :to="userLink">
              {{ user.full_name }} <slot name="nameicon"></slot>
            </router-link>
          </template>
          <span v-else> {{ user.full_name }} <slot name="nameicon"></slot> </span>

          <span v-if="showPhone"><br />{{ user.phone }}</span>
        </span>

        <small v-if="description">{{ description }}</small>
      </b-col>
      <slot name="buttons"></slot>
    </b-row>
  </b-card>
</template>

<script>
import UserAvatar from "@/components/User/Avatar.vue";
import { userLink } from "@/helpers/adminLinks";

export default {
  name: "UserBlurb",
  computed: {
    userLink() {
      return userLink(this.user);
    },
  },
  components: { UserAvatar },
  props: {
    user: {
      type: Object,
      required: false,
      default: {},
    },
    showPhone: {
      type: Boolean,
      default: false,
    },
    showAdminLink: {
      type: Boolean,
      default: false,
    },
    description: {
      type: String,
      default: "",
    },
  },
};
</script>

<style scoped lang="scss">
.card {
  border: 1px solid $light-grey;
}
.card-body {
  padding: 0.75rem;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.archived {
  background: $eggshell;
  opacity: 0.5;
  a,
  span {
    color: $content-neutral-secondary;
  }
}
</style>
