<template>
  <div class="loan-actions">
    <loan-form :item="item" :open="isCurrentStep('creation')" @submit="emitSubmit" :user="user" />

    <div class="loan-actions__action">
      <div v-if="item.intention && displayStep('intention')">
        <loan-actions-intention
          :action="item.intention"
          :item="item"
          :open="isCurrentStep('intention')"
          @completed="emitLoad"
          @canceled="emitLoad"
          :user="user"
        />
      </div>

      <div v-if="item.pre_payment && displayStep('pre_payment')">
        <loan-actions-pre-payment
          :action="item.pre_payment"
          :item="item"
          :open="isCurrentStep('pre_payment')"
          @completed="emitLoad"
          @canceled="emitLoad"
          :user="user"
        />
      </div>

      <div v-if="item.takeover && displayStep('takeover')">
        <loan-actions-takeover
          :action="item.takeover"
          :item="item"
          :open="isCurrentStep('takeover')"
          @completed="emitLoad"
          @canceled="emitLoad"
          :user="user"
        />
      </div>

      <loan-actions-extension
        v-for="extension in item.extensions"
        :open="!extension.executed_at"
        :action="extension"
        :item="item"
        :user="user"
        @created="emitLoad"
        @completed="emitLoad"
        @canceled="emitLoad"
        @rejected="emitLoad"
      />

      <div v-if="item.handover && displayStep('handover')">
        <loan-actions-handover-self-service
          v-if="loanableIsSelfService"
          :action="item.handover"
          :item="item"
          :open="isCurrentStep('handover')"
          @completed="emitLoad"
          @canceled="emitLoad"
          :user="user"
        />
        <loan-actions-handover
          v-else
          :action="item.handover"
          :item="item"
          :open="isCurrentStep('handover')"
          @completed="emitLoad"
          @canceled="emitLoad"
          :user="user"
        />
      </div>

      <div v-if="item.incidents">
        <loan-actions-incident
          v-for="incident in item.incidents"
          :open="!incident.executed_at"
          :action="incident"
          :item="item"
          :user="user"
          @created="emitLoad"
          @completed="emitLoad"
          @canceled="emitLoad"
        />
      </div>

      <div v-if="item.payment && displayStep('payment')">
        <loan-actions-payment
          :action="item.payment"
          :item="item"
          :open="isCurrentStep('payment')"
          @completed="emitLoad"
          @canceled="emitLoad"
          :user="user"
        />
      </div>
    </div>
  </div>
</template>

<script>
import LoanForm from "@/components/Loan/Form.vue";
import LoanActionsExtension from "@/components/Loan/Actions/Extension.vue";
import LoanActionsHandover from "@/components/Loan/Actions/Handover.vue";
import LoanActionsHandoverSelfService from "@/components/Loan/Actions/SelfService/HandoverSelfService.vue";
import LoanActionsIncident from "@/components/Loan/Actions/Incident.vue";
import LoanActionsIntention from "@/components/Loan/Actions/Intention.vue";
import LoanActionsPayment from "@/components/Loan/Actions/Payment.vue";
import LoanActionsPrePayment from "@/components/Loan/Actions/PrePayment.vue";
import LoanActionsTakeover from "@/components/Loan/Actions/Takeover.vue";

import LoanStepsSequence from "@/mixins/LoanStepsSequence";

export default {
  name: "Actions",
  mixins: [LoanStepsSequence],
  components: {
    LoanForm,
    LoanActionsExtension,
    LoanActionsHandover,
    LoanActionsHandoverSelfService,
    LoanActionsIncident,
    LoanActionsIntention,
    LoanActionsPayment,
    LoanActionsPrePayment,
    LoanActionsTakeover,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  methods: {
    emitLoad() {
      this.$emit("load");
    },
    emitSubmit() {
      this.$emit("submit");
    },
  },
};
</script>

<style lang="scss">
.loan-actions.card {
  margin-bottom: 20px;
  box-shadow: 0 2px 5px $light-grey;
}
</style>
