<template>
  <b-container fluid v-if="itemLoaded && routeDataLoaded">
    <b-row>
      <b-col>
        <h1 v-if="item.name">{{ item.name }}</h1>
        <h1 v-else>
          <em>{{ $tc("community", 1) | capitalize }}</em>
        </h1>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-form class="form" @submit.prevent="submit">
          <div class="form__section">
            <h2>Informations générales</h2>

            <forms-builder :definition="formExceptArea" v-model="item" entity="communities" />
          </div>

          <div class="form__section">
            <h2>Zone géographique</h2>
            <b-form-group
              class="monospace"
              description="Zone géographique sous forme de GeoJson avec un MultiPolygon"
              label-for="area"
            >
              <b-form-textarea id="area" name="area" v-model="area" rows="6" max-rows="12" />
            </b-form-group>
          </div>

          <div class="form__section">
            <h2>Partage</h2>

            <b-form-group
              label="Type de véhicules"
              description="Quels types de véhicules peuvent être partagés dans votre communauté."
              label-for="area"
            >
              <b-form-checkbox-group
                :checked="(item.allowed_loanable_types || []).map((l) => l.id)"
                name="allowed_loanable_types"
                :options="allLoanableTypes"
                @change="changeLoanableTypes"
              />
            </b-form-group>
          </div>

          <div class="form__section">
            <h2>Tarifications</h2>

            <pricing-language-definition />

            <div v-for="(pricing, index) in item.pricings" :key="pricing.id || `idx-${index}`">
              <pricing-form
                :pricing="pricing"
                @remove="removePricing(pricing)"
                @change="updatePricing(pricing, $event)"
              />
            </div>

            <p class="form-inline" v-if="remainingPricingTypes.length > 0">
              Ajouter une tarification pour
              <b-select
                class="ml-1 mr-1"
                :options="remainingPricingTypes"
                v-model="newPricingType"
              />
              <b-button @click="addPricing">OK</b-button>
            </p>
          </div>

          <div class="form__section" v-if="item.id">
            <a id="members" />
            <community-users-list
              id="admin-community-users-table"
              ref="userTable"
              class="mb-3"
              :hide-fields="['community.name', 'community.id', 'updated_at']"
              :fetch-params="{ 'community.id': item.id, for: 'edit' }"
              :community-id="item.id"
              label="membres"
            />
            <forms-validated-input
              type="relation"
              name="community"
              label="Ajouter un membre"
              :value="null"
              reset-after-select
              :query="{
                slug: 'users',
                value: 'id',
                text: 'full_name',
                params: {
                  '!communities.id': item.id,
                },
              }"
              @relation="addUser"
            />
          </div>

          <div class="form__sticky_buttons">
            <b-button-group>
              <b-button variant="success" type="submit" :disabled="!changed || loading">
                Sauvegarder
              </b-button>
              <b-button type="reset" :disabled="!changed || loading" @click="reset">
                Réinitialiser
              </b-button>
            </b-button-group>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
  <layout-loading v-else />
</template>

<script>
import CommunityUsersList from "@/components/Community/CommunityUsersList.vue";

import FormsBuilder from "@/components/Forms/Builder.vue";
import PricingForm from "@/components/Pricing/PricingForm.vue";
import PricingLanguageDefinition from "@/components/Pricing/LanguageDefinition.vue";
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";

import FormMixin from "@/mixins/FormMixin";
import DataRouteGuards from "@/mixins/DataRouteGuards";

import locales from "@/locales";
import { capitalize } from "@/helpers/filters";

export default {
  name: "AdminCommunity",
  mixins: [DataRouteGuards, FormMixin],
  components: {
    CommunityUsersList,
    FormsBuilder,
    FormsValidatedInput,
    PricingForm,
    PricingLanguageDefinition,
  },
  data() {
    return {
      newPricingType: null,
    };
  },
  computed: {
    area: {
      get() {
        return JSON.stringify(this.item.area);
      },
      set(value) {
        this.item.area = JSON.parse(value);
      },
    },
    formExceptArea() {
      const form = { ...this.form };
      delete form.area;
      return form;
    },
    remainingPricingTypes() {
      const currentPricingTypes = this.item.pricings.map((p) => p.object_type);
      return [
        {
          value: null,
          text: "Générique",
        },
        {
          value: "car",
          text: "Voiture",
        },
        {
          value: "bike",
          text: "Vélo",
        },
        {
          value: "trailer",
          text: "Remorque",
        },
      ].filter((p) => currentPricingTypes.indexOf(p.value) === -1);
    },
    allLoanableTypes() {
      return this.$store.state.loanableTypes.types.map((t) => ({
        text: capitalize(this.$t(`loanable_types.${t.name}`)),
        value: t.id,
      }));
    },
  },
  methods: {
    addPricing() {
      this.$store.commit(`${this.slug}/mergeItem`, {
        pricings: [
          {
            object_type: this.newPricingType,
            rule: "",
            name: "",
          },
        ],
      });
    },
    async addUser(user) {
      await this.$store.dispatch(`${this.slug}/addUser`, {
        id: this.item.id,
        data: {
          id: user.id,
        },
      });
      this.$refs.userTable.setFilters({ "user.id": user.id });
    },
    removePricing(pricing) {
      const pricings = this.item.pricings.filter((p) => p !== pricing);

      this.$store.commit(`${this.slug}/patchItem`, { pricings });
    },
    updatePricing(oldValue, newValue) {
      const pricings = [...this.item.pricings];
      const index = pricings.indexOf(oldValue);
      pricings.splice(index, 1, newValue);
      this.$store.commit(`${this.slug}/patchItem`, { pricings });
    },
    changeLoanableTypes(types) {
      this.$store.commit(`${this.slug}/item`, {
        ...this.item,
        allowed_loanable_types: types.map((t) => ({ id: t })),
      });
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.communities,
        ...locales.en.forms,
        loanable_types: locales.en.loanables.fields.types,
      },
      fr: {
        ...locales.fr.communities,
        ...locales.fr.forms,
        loanable_types: locales.fr.loanables.fields.types,
      },
    },
  },
};
</script>

<style lang="scss"></style>
