<template>
  <div class="admin-dashboard">
    <h1>{{ $t("titles.dashboard") | capitalize }}</h1>

    <paginated-table
      id="admin-dashboard-incidents"
      endpoint="loans"
      :fetch-params="{ hasActiveIncidents: true, for: 'edit', status: 'in_process' }"
      label="Emprunts avec incidents"
      :field-defs="loanFields"
      :show-generate-csv="false"
    >
    </paginated-table>
    <paginated-table
      id="admin-dashboard-contestations"
      endpoint="loans"
      :fetch-params="{ contested: true, for: 'edit', status: 'in_process' }"
      label="Emprunts avec contestation"
      :field-defs="loanFields"
      :show-generate-csv="false"
    >
    </paginated-table>
    <community-users-list
      id="admin-dashboard-user-approvals"
      :fetch-params="{ needApproval: true, for: 'edit' }"
      :hide-fields="['suspended_at', 'role', 'approved_at']"
      :initial-filters="{
        updated_at: this.$dayjs().subtract(2, 'month').toISOString() + '@',
        'user.hasProof': true,
        'user.is_proof_invalid': false,
      }"
      :sync-filters-with-url="false"
      :show-generate-csv="false"
      label="Participants à approuver"
    />
    <paginated-table
      v-if="isGlobalAdmin"
      id="admin-dashboard-borrower-approvals"
      endpoint="users"
      :fetch-params="{
        'borrower.submitted_at': '@',
        '!borrower.approved_at': '@',
      }"
      :show-generate-csv="false"
      label="Profils d'emprunteurs à approuver"
      :field-defs="userFields"
    />
    <!--    Users in need of approval of borrower data -->
  </div>
</template>

<script>
import LayoutLoading from "@/components/Layout/Loading.vue";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import AdminListActions from "@/components/Admin/ListActions.vue";
import LoanStatus from "@/components/Loan/Status.vue";
import FormsDatePicker from "@/components/Forms/DatePicker.vue";
import CommunityUsersList from "@/components/Community/CommunityUsersList.vue";
import { canSeeDeletedUser, isGlobalAdmin } from "@/helpers/permissions/users";

export default {
  name: "AdminDashboard",
  components: {
    CommunityUsersList,
    FormsDatePicker,
    LoanStatus,
    AdminListActions,
    PaginatedTable,
    LayoutLoading,
  },
  computed: {
    isGlobalAdmin() {
      return isGlobalAdmin(this.$store.state.user);
    },
  },
  data: function () {
    const user = this.$store.state.user;
    return {
      loanFields: [
        new FieldDef("id", "ID", "id"),
        new FieldDef("departure_at", "Départ", "date"),
        new FieldDef(
          "borrower.user.full_name",
          "Emprunteur",
          {
            relation: "users",
            label: "full_name",
            field: "id",
            params: { for: "edit", with_deleted: canSeeDeletedUser(user) },
          },
          {
            filterKey: "borrower.user.id",
          }
        ),
        new FieldDef(
          "loanable.owner.user.full_name",
          "Propriétaire",
          {
            relation: "users",
            label: "full_name",
            field: "id",
            params: { for: "edit", with_deleted: canSeeDeletedUser(user) },
          },
          {
            filterKey: "loanable.owner.user.id",
          }
        ),
        new FieldDef(
          "community.name",
          "Communauté",
          { relation: "communities", label: "name", field: "id", params: { for: "edit" } },
          {
            filterKey: "community.id",
          }
        ),
      ],
      userFields: [
        new FieldDef("id", "ID", "id"),
        new FieldDef(
          "communities.name",
          "Communauté",
          { relation: "communities", label: "name", field: "id", params: { for: "edit" } },
          {
            filterKey: "community.id",
            show: false,
            data: false,
          }
        ),
        new FieldDef("full_name", "Nom", "text", {
          urlFct: (item) => `/admin/users/${item.id}#borrower`,
        }),
        new FieldDef("email", "Courriel"),
        new FieldDef("borrower.submitted_at", "Date de soumission", "date"),
        // new FieldDef('borrower')
      ],
    };
  },
};
</script>

<style lang="scss"></style>
