<template>
  <div>
    <paginated-table
      id="admin-invoices-table"
      endpoint="invoices"
      :field-defs="table"
      :label="$tc('invoice', 2)"
      @filters-changed="setInvoiceFilters"
    >
      <template #cell(paid_at)="{ item }">
        {{ item.paid_at ? "✓" : "✗" }}
      </template>
      <template #moreExports v-if="showExportInvoiceItemsButton">
        <export-button
          class="d-block mt-2"
          store="invoiceItems"
          :params="filters"
          label="items des factures"
        />
      </template>
    </paginated-table>
  </div>
</template>

<script>
import locales from "@/locales";

import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import ExportButton from "@/components/shared/ExportButton.vue";

export default {
  name: "AdminInvoices",
  components: {
    ExportButton,
    PaginatedTable,
  },
  data() {
    return {
      filters: {},
      table: [
        new FieldDef("id", "ID", "id", { show: false, filter: false }),
        new FieldDef("user.full_name", "Membre"),
        new FieldDef("created_at", "Date", "date"),
        new FieldDef("paid_at", "Payée", "date", { filter: false }),
        new FieldDef("total", "Total", "currency"),
        new FieldDef("total_with_taxes", "Total avec taxes", "currency"),
      ],
    };
  },
  computed: {
    showExportInvoiceItemsButton() {
      return this.$store.state.user.role === "admin";
    },
  },
  methods: {
    setInvoiceFilters(invoiceFilters) {
      const newFilters = {};
      for (const invoiceFilter in invoiceFilters) {
        newFilters["invoice." + invoiceFilter] = invoiceFilters[invoiceFilter];
      }

      this.filters = newFilters;
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.invoices,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.invoices,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
