<template>
  <b-container fluid v-if="itemLoaded && routeDataLoaded">
    <vue-headful :title="fullTitle" />
    <b-alert show variant="warning" v-if="!isLoanableTypeAvailable">
      Les communautés du propriétaire ne permettent pas le partage de véhicules du type '{{
        $t(`fields.types.${item.type}`)
      }}'. Ce véhicule ne sera donc pas visible.
    </b-alert>

    <b-row>
      <b-col>
        <h1 v-if="item.name">{{ item.name }}</h1>
        <h1 v-else>
          <em>{{ $tc("loanable", 1) | capitalize }}</em>
        </h1>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <validation-observer ref="observer" v-slot="{ passes }">
          <b-form class="form" @submit.prevent="passes(submit)">
            <div class="form__section">
              <h2>Informations</h2>

              <forms-builder
                :disabled="!canEditLoanable"
                :definition="form.general"
                v-model="item"
                entity="loanables"
              >
                <template v-slot:owner_id="{ def, item, property }">
                  <validation-provider
                    class="forms-validated-input"
                    mode="eager"
                    name="owner_id"
                    v-slot="validationContext"
                  >
                    <b-form-group label="Propriétaire" label-for="owner_id">
                      <forms-relation-input
                        :disabled="!canEditLoanable"
                        id="owner_id"
                        name="owner_id"
                        :query="ownerQuery"
                        placeholder="Propriétaire"
                        :object-value="itemOwner"
                        :value="item.owner_id"
                        @input="setLoanableOwner"
                      />
                    </b-form-group>
                  </validation-provider>
                </template>
              </forms-builder>
            </div>

            <div class="form__section" v-if="item.type === 'bike'">
              <h2>Détails du vélo</h2>

              <forms-builder
                :disabled="!canEditLoanable"
                :definition="form.bike"
                v-model="item.details"
                entity="bikes"
              />
            </div>
            <div class="form__section" v-else-if="item.type === 'car'">
              <h2>Détails de la voiture</h2>

              <forms-builder
                :disabled="!canEditLoanable"
                :definition="form.car"
                v-model="item.details"
                entity="cars"
              />
            </div>
            <div class="form__section" v-else-if="item.type === 'trailer'">
              <h2>Détails de la remorque</h2>

              <forms-builder
                :disabled="!canEditLoanable"
                :definition="form.trailer"
                v-model="item.details"
                entity="trailers"
              />
            </div>
            <div class="form__section text-center" v-else>
              <span> Sélectionnez un type de véhicule pour poursuivre la configuration. </span>
            </div>

            <div class="form__section">
              <h2>Droits de gestion</h2>
              <coowners-form
                :disabled="!canEditLoanable"
                :user="$store.state.user"
                :loanable="item"
                show-admin-links
              />
            </div>

            <div class="form__section" v-if="item.type && item.id">
              <h2>Disponibilités</h2>
              <!-- Click.native.stop.prevent is necessary to prevent undesirable submission on calendar navigation-->
              <loanable-availability-rules
                :disabled="!canEditLoanable"
                :changed="changed"
                :loanable="item"
              />
            </div>

            <b-alert show variant="warning" v-if="!isLoanableTypeAvailable">
              Les communautés du propriétaire ne permettent pas le partage de véhicules du type '{{
                $t(`fields.types.${item.type}`)
              }}'. Ce véhicule ne sera donc pas visible.
            </b-alert>

            <div class="form__sticky_buttons">
              <b-button-group>
                <b-button
                  variant="success"
                  type="submit"
                  :disabled="!canEditLoanable || !changed || loading"
                >
                  Sauvegarder
                </b-button>
                <b-button
                  type="reset"
                  :disabled="!canEditLoanable || !changed || loading"
                  @click="reset"
                >
                  Réinitialiser
                </b-button>
              </b-button-group>
            </div>
          </b-form>
        </validation-observer>
      </b-col>
    </b-row>
  </b-container>
  <layout-loading v-else />
</template>

<script>
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import FormsBuilder from "@/components/Forms/Builder.vue";
import FormsRelationInput from "@/components/Forms/RelationInput.vue";
import LoanableAvailabilityRules from "@/components/Loanable/AvailabilityRules.vue";

import { canCreateLoanable, canEditLoanable } from "@/helpers/permissions/loanables";
import DataRouteGuards from "@/mixins/DataRouteGuards";
import FormMixin from "@/mixins/FormMixin";

import locales from "@/locales";

import { capitalize } from "@/helpers/filters";
import CoownersForm from "@/components/Loanable/CoownersForm.vue";

export default {
  name: "AdminLoanable",
  mixins: [DataRouteGuards, FormMixin],
  components: {
    CoownersForm,
    FormsBuilder,
    FormsRelationInput,
    FormsValidatedInput,
    LoanableAvailabilityRules,
  },
  data() {
    return {
      ignoreFields: ["coowners"],
      ownerQuery: {
        slug: "users",
        value: "owner.id",
        text: "full_name",
        params: {
          fields: "full_name,owner.id,communities,available_loanable_types",
        },
      },
    };
  },
  computed: {
    loggedInUser() {
      return this.$store.state.user;
    },
    canEditLoanable() {
      if (this.item.id > 0) {
        return canEditLoanable(this.loggedInUser, this.item);
      } else {
        return canCreateLoanable(this.loggedInUser);
      }
    },
    itemOwner() {
      if (this.item.owner) {
        return {
          ...this.item.owner.user,
          owner: {
            id: this.item.owner.id,
          },
        };
      }

      return null;
    },
    isLoanableTypeAvailable() {
      if (!this.itemOwner || !this.item.type) {
        return true;
      }

      return this.itemOwner.available_loanable_types.includes(this.item.type);
    },
    fullTitle() {
      const parts = [
        "LocoMotion",
        capitalize(this.$i18n.t("titles.admin")),
        capitalize(this.$i18n.tc("loanable", 2)),
      ];

      if (this.pageTitle) {
        parts.push(this.pageTitle);
      }

      return parts.reverse().join(" | ");
    },
    pageTitle() {
      return this.item.name || capitalize(this.$i18n.tc("loanable", 1));
    },
  },
  methods: {
    async setLoanableOwner(user) {
      // If the user hasn't created an 'owner' profile yet, create it for them.
      if (!user.owner) {
        await this.$store.dispatch("users/update", {
          id: user.id,
          data: {
            id: user.id,
            owner: {},
          },
          params: this.ownerQuery.params,
        });

        const updatedUser = this.$store.state.users.item;

        this.$store.commit("loanables/patchItem", {
          owner: {
            id: updatedUser.owner.id,
            user: updatedUser,
          },
        });

        return;
      }

      this.$store.commit("loanables/patchItem", {
        owner: {
          id: user.owner.id,
          user,
        },
      });
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loanables,
        ...locales.en.forms,
        cars: locales.en.cars,
        titles: locales.en.titles,
      },
      fr: {
        ...locales.fr.loanables,
        ...locales.fr.forms,
        cars: locales.fr.cars,
        titles: locales.fr.titles,
      },
    },
  },
};
</script>

<style lang="scss"></style>
