<template>
  <paginated-table
    id="admin-loanables-table"
    ref="table"
    endpoint="loanables"
    :label="$tc('loanable', 2)"
    :field-defs="table"
    sync-filters-with-url
  >
    <template #head-buttons>
      <b-btn v-if="canCreateLoanable" to="/admin/loanables/new" variant="primary">
        {{ $t("create_loanable") | capitalize }}
      </b-btn>
    </template>

    <template #cell(actions)="{ item }">
      <admin-list-actions
        v-if="!item.owner.user.deleted_at"
        slug="loanables"
        :item-name="item.name"
        :item="item"
        @change="$refs.table.refresh"
        :restore-params="restoreParams"
      >
        <template #destroy-question>
          <div>
            <strong>Êtes-vous sûr de vouloir archiver {{ item.name }} ?</strong>
            <p class="mt-2 mb-0">
              Assurez-vous qu'il n'y a pas
              <router-link
                target="_blank"
                :to="`/admin/loans?loanable.id=${item.id}&status=in_process`"
                >d'emprunts en cours pour ce véhicule.
              </router-link>
            </p>
          </div>
        </template>
        <template #restore-question>
          <div>
            <strong>Êtes-vous sûr de vouloir restaurer {{ item.name }} ?</strong>
            <b-form-checkbox class="mt-3" v-model="restoreParams.restore_availabilities">
              Restaurer les disponibilités?
            </b-form-checkbox>
          </div>
        </template>
      </admin-list-actions>
    </template>
  </paginated-table>
</template>

<script>
import AdminListActions from "@/components/Admin/ListActions.vue";
import locales from "@/locales";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import { canCreateLoanable } from "@/helpers/permissions/loanables";
import { capitalize } from "@/helpers/filters";
import { loanBorrowerLink, userLink } from "@/helpers/adminLinks";

export default {
  name: "AdminLoanables",
  methods: { capitalize },
  components: {
    PaginatedTable,
    AdminListActions,
  },
  data() {
    return {
      table: [
        new FieldDef("id", "ID", "id"),
        new FieldDef("name", "Nom", "text"),
        new FieldDef("type", "Type", [
          { value: null, label: "Tous" },
          { value: "car", label: "Auto" },
          { value: "trailer", label: "Remorque" },
          { value: "bike", label: "Vélo" },
        ]),
        new FieldDef("owner.user.full_name", "Propriétaire", "text", {
          urlFct: (loanable) => userLink(loanable.owner.user),
        }),
        new FieldDef("current_loan.id", "Emprunt en cours", "text", {
          urlFct: (loanable) => `/admin/loans/${loanable.current_loan?.id}`,
          sortable: false,
        }),
        new FieldDef("current_loan.borrower.user.id", "ID de l'emprunteur\u2011se", "id", {
          show: false,
        }),
        new FieldDef("current_loan.borrower.user.full_name", "Emprunteur\u2011se", "text", {
          urlFct: (loanable) => loanBorrowerLink(loanable.current_loan),
          sortable: false,
        }),
        new FieldDef(
          "accessibleInCommunity",
          "Communauté",
          { relation: "communities", label: "name", field: "id", params: { for: "edit" } },
          { showable: false }
        ),
        new FieldDef("is_deleted", "Supprimé?", "boolean", { showable: false }),
        new FieldDef("deleted_at", "Date de supression", "date", { show: false }),
      ],
      restoreParams: {
        restore_availability: false,
      },
    };
  },
  computed: {
    loggedInUser() {
      return this.$store.state.user;
    },
    canCreateLoanable() {
      return canCreateLoanable(this.loggedInUser);
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loanables,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.loanables,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
