<template>
  <paginated-table
    id="admin-padlocks-table"
    endpoint="padlocks"
    :field-defs="table"
    :label="$tc('padlock', 2)"
  />
</template>

<script>
import locales from "@/locales";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import { loanableLink } from "@/helpers/adminLinks";

export default {
  name: "AdminPadlocks",
  components: {
    PaginatedTable,
  },
  data() {
    return {
      table: [
        new FieldDef("external_id", "ID", "text"),
        new FieldDef("name", "Nom"),
        new FieldDef("mac_address", "Adresse MAC", "text", { class: "tabular-nums" }),
        new FieldDef("loanable.name", "Objet", "text", {
          urlFct: (item) => loanableLink(item.loanable),
        }),
        new FieldDef("loanable.id", "ID de l'objet", "text", { show: false }),
      ],
    };
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.padlocks,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.padlocks,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
