<template>
  <paginated-table
    ref="table"
    id="admin-users-table"
    endpoint="users"
    :field-defs="table"
    :fetch-params="{ for: 'edit' }"
    @row-selected="
      (users) => {
        selectedUsers = users;
        allUsersSelected = false;
      }
    "
    selectable
    :label="$tc('model_name', 2)"
    sync-filters-with-url
    @input:filters="filters = $event"
  >
    <template #head-buttons>
      <b-button v-if="canCreateUser" variant="primary" to="/admin/users/new">
        {{ $t("list.create") | capitalize }}
      </b-button>

      <b-button-group
        variant="info"
        class="ml-1"
        v-if="canResetUserPassword || canSendRegistrationEmails"
      >
        <b-dropdown left :disabled="selectedUsers.length === 0" text="Actions groupées">
          <b-dropdown-item v-if="canResetUserPassword" @click="sendPasswordResetEmail">
            Courriel de réinit. de mot de passe
          </b-dropdown-item>
          <b-dropdown-item v-if="canSendRegistrationEmails" @click="sendRegistrationSubmittedEmail">
            Courriel de bienvenue (inscr. complétée)
          </b-dropdown-item>
          <b-dropdown-item v-if="canSendRegistrationEmails" @click="sendRegistrationApprovedEmail">
            Courriel de bienvenue (approbation)
          </b-dropdown-item>
          <b-dropdown-item v-if="canSendRegistrationEmails" @click="sendRegistrationRejectedEmail">
            Courriel de refus d'inscription
          </b-dropdown-item>
          <b-dropdown-divider />
          <template v-if="communityRegionFilter">
            <b-dropdown-item @click="addAllToCommunity">
              Ajouter à la communtauté sélectionnée (id: {{ communityRegionFilter }})
            </b-dropdown-item>
            <b-dropdown-divider />
          </template>
          <b-dropdown-item disabled
            >{{ $tc("list.selected", selectedUserCount, { count: selectedUserCount }) }}
          </b-dropdown-item>
          <b-dropdown-item
            v-if="!allUsersSelected && $refs.table && $refs.table.total !== selectedUsers.length"
            @click="
              () => {
                $refs.table.selectAll();
                // Need to do this on the next tick, since the table.selectAll would undo it
                $nextTick(() => (allUsersSelected = true));
              }
            "
          >
            Sélectionner tous les membres correspondant aux filtres ({{
              $refs.table && $refs.table.total
            }})
          </b-dropdown-item>
        </b-dropdown>
      </b-button-group>
    </template>

    <template #cell(actions)="{ item }">
      <div class="user-actions">
        <admin-list-actions
          :item="item"
          :item-name="item.full_name"
          slug="users"
          :show-destroy="canArchiveUser"
          :show-restore="canArchiveUser"
          :restore-params="restoreParams"
          @change="$refs.table.refresh"
        >
          <template #destroy-question>
            <div>
              <strong>Êtes-vous sûr de vouloir archiver {{ item.full_name }} ?</strong>
              <p class="mt-2 mb-0">
                Assurez-vous que {{ item.full_name }} n'a pas d'emprunts en cours en tant
                <router-link
                  target="_blank"
                  :to="`/admin/loans?borrower.user.id=${item.id}&status=in_process`"
                  >qu'emprunteur</router-link
                >
                ou en tant que
                <router-link
                  target="_blank"
                  :to="`/admin/loans?loanable.owner.user.id=${item.id}&status=in_process`"
                >
                  propriétaire</router-link
                >.
              </p>
            </div>
          </template>
          <template #restore-question>
            <div>
              <strong>Êtes-vous sûr de vouloir restaurer {{ item.name }} ?</strong>
              <b-form-checkbox class="mt-3" v-model="restoreParams.restore_loanables">
                Restaurer les véhicules?
              </b-form-checkbox>
              <b-form-checkbox
                :disabled="!restoreParams.restore_loanables"
                class="mt-3"
                v-model="restoreParams.restore_availability"
              >
                Restaurer les disponibilités des véhicules?
              </b-form-checkbox>
            </div>
          </template>
        </admin-list-actions>
        <b-button
          v-if="!item.deleted_at && canImpersonateUser"
          :id="'mandate-' + item.id"
          size="sm"
          variant="warning"
          v-on:click="mandate(item.id)"
        >
          <i class="bi bi-person-badge"></i>
        </b-button>
        <b-tooltip :target="'mandate-' + item.id" triggers="hover">
          {{ $t("mandate_tool_tip") }}
        </b-tooltip>
      </div>
    </template>
  </paginated-table>
</template>

<script>
import AdminListActions from "@/components/Admin/ListActions.vue";
import locales from "@/locales";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import { canSeeAdmins, canSeeDeletedUser, isGlobalAdmin } from "@/helpers/permissions/users";

export default {
  name: "AdminUsers",
  components: {
    PaginatedTable,
    AdminListActions,
  },
  data() {
    const table = [
      new FieldDef("id", "ID", "id"),
      new FieldDef("address", "Adresse", "text", { show: false }),
      new FieldDef("created_at", "Créé le", "date", { show: false }),
      new FieldDef(
        "communities.id",
        "Communauté",
        { relation: "communities", label: "name", field: "id", params: { for: "edit" } },
        { showable: false }
      ),
      new FieldDef(
        "is_in_community_region",
        "Sans communauté, mais dans la région de",
        {
          relation: "communities",
          label: "name",
          field: "id",
          params: { for: "edit", type: "borough" },
        },
        { showable: false }
      ),
      new FieldDef("full_name", "Nom"),
      new FieldDef("email", "Courriel"),
    ];
    if (canSeeDeletedUser(this.$store.state.user)) {
      table.push(
        new FieldDef("is_deleted", "Membre archivé?", "boolean", { showable: false }),
        FieldDef.dataOnly("deleted_at")
      );
    }
    if (canSeeAdmins(this.$store.state.user)) {
      table.push(new FieldDef("global_admins", "Admin global?", "boolean", { showable: false }));
      table.push(
        new FieldDef("community_admins", "Admin de communauté?", "boolean", {
          showable: false,
        })
      );
    }

    return {
      allUsersSelected: false,
      selectedUsers: [],
      filters: {},
      table,
      restoreParams: {
        restore_loanables: false,
        restore_availability: false,
      },
    };
  },
  computed: {
    canCreateUser() {
      // Global admins only for the moment.
      const loggedInUser = this.$store.state.user;
      return isGlobalAdmin(loggedInUser);
    },
    canArchiveUser() {
      // Global admins only for the moment.
      const loggedInUser = this.$store.state.user;
      return isGlobalAdmin(loggedInUser);
    },
    canEditUser() {
      // Global admins only for the moment.
      const loggedInUser = this.$store.state.user;
      return isGlobalAdmin(loggedInUser);
    },
    canImpersonateUser() {
      // Global admins only for the moment.
      const loggedInUser = this.$store.state.user;
      return isGlobalAdmin(loggedInUser);
    },
    canResetUserPassword() {
      // Global admins only for the moment.
      const loggedInUser = this.$store.state.user;
      return isGlobalAdmin(loggedInUser);
    },
    canSendRegistrationEmails() {
      // Global admins only for the moment.
      const loggedInUser = this.$store.state.user;
      return isGlobalAdmin(loggedInUser);
    },
    communityRegionFilter() {
      return this.filters.is_in_community_region;
    },
    selectedUserCount() {
      return this.allUsersSelected ? this.$refs.table.total : this.selectedUsers.length;
    },
  },
  methods: {
    async mandate(mandatedUserId) {
      this.$store.dispatch("account/mandate", { mandatedUserId });
    },
    getMassActionParams() {
      if (this.allUsersSelected) {
        return {
          ...this.$refs.table.fetchParams,
          ...this.$refs.table.filters,
          per_page: "*",
        };
      }
      return {
        id: this.selectedUsers.map((s) => s.id).join(","),
      };
    },

    async addAllToCommunity() {
      try {
        await this.$store.dispatch("users/sendRequest", {
          method: "put",
          url: `/users/add_to_community/${this.communityRegionFilter}`,
          params: this.getMassActionParams(),
        });

        this.$store.commit("addNotification", {
          content: `Communauté ajoutée à ${this.selectedUserCount} membre(s).`,
          title: "Succès",
          variant: "success",
        });

        this.$refs.table.refresh();
      } catch (e) {
        this.$store.commit("addNotification", {
          content: `Échec d'ajout de communauté`,
          title: "Échec",
          variant: "danger",
        });
      }
    },
    displayMailStatus(data) {
      const { report } = data;

      if (report) {
        const succeeded = report.reduce(
          (acc, s) => acc + (s.response.status === "success" ? 1 : 0),
          0
        );
        const failed = report.reduce((acc, s) => acc + (s.response.status === "error" ? 1 : 0), 0);
        this.$store.commit("addNotification", {
          content: `Résultat de l'envoi: ${succeeded} réussi(s) et ${failed} échoués`,
          title: "Courriels envoyés",
          variant: "success",
          type: "send_email",
        });
      }
    },
    async sendPasswordResetEmail() {
      const { data } = await this.axios.put(`/users/send/password_reset`, null, {
        params: this.getMassActionParams(),
      });
      this.displayMailStatus(data);
    },
    async sendRegistrationSubmittedEmail() {
      const { data } = await this.axios.put(`/users/send/registration_submitted`, null, {
        params: this.getMassActionParams(),
      });
      this.displayMailStatus(data);
    },
    async sendRegistrationApprovedEmail() {
      const { data } = await this.axios.put(`/users/send/registration_approved`, null, {
        params: this.getMassActionParams(),
      });
      this.displayMailStatus(data);
    },
    async sendRegistrationRejectedEmail() {
      const { data } = await this.axios.put(`/users/send/registration_rejected`, null, {
        params: this.getMassActionParams(),
      });
      this.displayMailStatus(data);
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.users,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.users,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss">
.user-actions {
  display: flex;
}
</style>
