<template>
  <b-container fluid v-if="itemLoaded && routeDataLoaded">
    <b-row>
      <b-col>
        <h1 v-if="item.full_name">{{ item.full_name }}</h1>
        <h1 v-else>
          <em>{{ $tc("model_name", 1) | capitalize }}</em>
        </h1>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <validation-observer ref="observer" v-slot="{ passes }">
          <b-form class="form" @submit.prevent="checkInvalidThenSubmit(passes)">
            <div class="form__section">
              <h2>Informations générales</h2>

              <div v-if="item.borrower && item.borrower.approved">
                <label>Membre depuis le</label>
                {{ item.borrower.approved_at | date }}
              </div>
              <div v-else>
                <label>Membre en attente d'approbation depuis le</label>
                {{ item.created_at | date }}
              </div>
              <hr />

              <forms-builder
                :disabled="!canEditUser"
                :definition="form.general"
                v-model="item"
                entity="users"
              />
            </div>

            <div class="form__section" v-if="canManageGlobalAdmins">
              <h2>Administrateur global</h2>

              <b-alert show variant="danger">
                Attention! N'accordez pas le rôle d'administration globale à la légère: un-e
                administrateur-rice global-e peut <strong>tout</strong> faire avec un minimum de
                validations.
              </b-alert>

              <b-form-select
                id="role"
                name="role"
                :options="[
                  { value: null, text: 'Régulier' },
                  { value: 'admin', text: 'Admin global' },
                ]"
                v-model="item.role"
              />
            </div>

            <div class="form__section" v-if="canChangeUserPassword">
              <h2>Mot de passe</h2>

              <user-password-form
                :loading="loading"
                :required="false"
                :must-validate-current="loggedInUserIsMe"
                :user="item"
                ref="passwordForm"
                @updated="resetPasswordFormAndShowModal"
              />

              <b-modal
                size="md"
                header-bg-variant="success"
                title-class="font-weight-bold"
                ok-only
                no-close-on-backdrop
                no-close-on-esc
                hide-header-close
                :title="$t('password_change.title')"
                id="password-change-modal"
              >
                <div v-html="$t('password_change.content')" />
              </b-modal>
            </div>

            <div class="form__section" v-if="canEditDriversProfile">
              <a id="borrower" />
              <h2>Profil d'emprunteur</h2>

              <p><strong>Statut:</strong> {{ borrowerStatus }}</p>

              <p v-if="item.borrower">
                <b-button
                  v-if="!item.borrower.approved_at"
                  size="sm"
                  class="ml-1"
                  variant="primary"
                  :disabled="loading"
                  @click="approveBorrower(item)"
                >
                  {{ $t("approve") | capitalize }}
                </b-button>
                <b-button
                  v-else-if="!item.borrower.suspended_at"
                  size="sm"
                  class="ml-1"
                  variant="warning"
                  :disabled="loading"
                  @click="suspendBorrower(item)"
                >
                  {{ $t("suspend") | capitalize }}
                </b-button>
                <b-button
                  v-else
                  size="sm"
                  class="mr-1"
                  variant="success"
                  :disabled="loading"
                  @click="unsuspendBorrower(item)"
                >
                  {{ $t("reinstate") | capitalize }}
                </b-button>
              </p>

              <forms-builder
                :definition="form.borrower"
                v-model="item.borrower"
                entity="borrowers"
              />
            </div>

            <div class="form__section" v-if="!!item.id">
              <paginated-table
                id="admin-user-loanables-table"
                endpoint="loanables"
                @row-selected="loanableRowSelected"
                :field-defs="loanablesTable"
                :fetch-params="{ 'owner.user.id': item.id, for: 'edit' }"
                label="Véhicules"
              >
              </paginated-table>
            </div>

            <div id="communities" class="form__section" v-if="!!item.id">
              <community-users-list
                id="admin-user-communities-table"
                ref="communityTable"
                :fetch-params="{ 'user.id': item.id, for: 'edit' }"
                :user-id="item.id"
                :hide-fields="['user.id', 'user.full_name', 'updated_at']"
                class="mb-3"
                label="communautés"
              />

              <forms-validated-input
                v-if="canEditUser"
                type="relation"
                name="community"
                label="Ajouter une communauté"
                :value="null"
                reset-after-select
                :query="{
                  slug: 'communities',
                  value: 'id',
                  text: 'name',
                  params: {
                    '!users.id': item.id,
                    for: 'edit',
                  },
                }"
                @relation="addCommunity"
              />
            </div>

            <div class="form__section" v-if="!!item.id">
              <paginated-table
                id="admin-user-loans-table"
                endpoint="loans"
                :fetch-params="{ forUser: item.id, for: 'edit' }"
                :field-defs="loansTable"
              >
                <template #head>
                  <h2>Emprunts</h2>
                </template>

                <template #cell(status)="{ item }">
                  <loan-status :show-self-service="false" :item="item"></loan-status>
                </template>
              </paginated-table>
            </div>

            <div class="form__section" v-if="!!item.id">
              <paginated-table
                id="admin-user-invoices-table"
                endpoint="invoices"
                :fetch-params="{ 'user.id': item.id }"
                :field-defs="invoicesTable"
                :show-generate-csv="false"
                :show-column-selection="false"
              >
                <template #head>
                  <h2>Compte</h2>
                  <p><strong>Balance:</strong> {{ item.balance | currency }}</p>
                </template>

                <template #head-buttons>
                  <b-button :to="`/admin/invoices/new?user_id=${item.id}`">
                    Ajouter une facture
                  </b-button>
                </template>
                <template #cell(total)="{ item }">
                  {{ getSignedAmount(item.type, item.total) | currency }}
                </template>
                <template #cell(total_with_taxes)="{ item }">
                  {{ getSignedAmount(item.type, item.total_with_taxes) | currency }}
                </template>
              </paginated-table>
            </div>

            <div class="form__section" v-if="!!item.id">
              <paginated-table
                endpoint="payment_methods"
                :field-defs="paymentMethodsTable"
                :fetch-params="{ 'user.id': item.id }"
                :show-generate-csv="false"
                :show-action-column="false"
                :show-column-selection="false"
              >
                <template #head>
                  <h2>Modes de paiement</h2>
                </template>

                <template #cell(type)="{ item }">
                  {{ $t(`payment_methods.types.${item.type}`) | capitalize }}
                </template>

                <template #cell(informations)="{ item }">
                  {{ item.credit_card_type }} se terminant par {{ item.four_last_digits }} ({{
                    item.external_id
                  }})
                </template>
              </paginated-table>
            </div>

            <div class="form__sticky_buttons">
              <b-button-group>
                <b-button variant="success" type="submit" :disabled="!changed || loading">
                  Sauvegarder
                </b-button>
                <b-button type="reset" :disabled="!changed" @click="reset">
                  Réinitialiser
                </b-button>
              </b-button-group>
            </div>
          </b-form>
        </validation-observer>
      </b-col>
    </b-row>
  </b-container>
  <layout-loading v-else />
</template>

<script>
import FormsBuilder from "@/components/Forms/Builder.vue";
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import UserPasswordForm from "@/components/User/PasswordForm.vue";

import DataRouteGuards from "@/mixins/DataRouteGuards";
import FormMixin from "@/mixins/FormMixin";

import { filters } from "@/helpers";
import {
  canChangeUserPassword,
  canEditDriversProfile,
  canEditUser,
  canManageGlobalAdmins,
  canSeeDeletedUser,
  userIsSame,
} from "@/helpers/permissions/users";

import locales from "@/locales";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import CommunityUsersList from "@/components/Community/CommunityUsersList.vue";
import LoanStatus from "@/components/Loan/Status.vue";
import {
  loanableLink,
  loanBorrowerLink,
  loanLoanableLink,
  loanOwnerLink,
} from "@/helpers/adminLinks";

const { capitalize } = filters;

export default {
  name: "AdminUser",
  mixins: [DataRouteGuards, FormMixin],
  components: {
    LoanStatus,
    CommunityUsersList,
    PaginatedTable,
    FormsBuilder,
    FormsValidatedInput,
    UserPasswordForm,
  },
  data() {
    const user = this.$store.state.user;
    return {
      invoicesTable: [
        new FieldDef("created_at", "Date", "date"),
        new FieldDef("items_count", "Nb d'items"),
        new FieldDef("total", "Total", "currency"),
        new FieldDef("total_with_taxes", "Total avec taxes", "currency"),
      ],
      loanablesSelected: [],
      loanablesTable: [
        new FieldDef("id", "ID", "id"),
        new FieldDef("name", "Nom", "text", {
          urlFct: loanableLink,
        }),
        new FieldDef("type", "Type", [
          { value: null, label: "Tous" },
          { value: "car", label: "Auto" },
          { value: "trailer", label: "Remorque" },
          { value: "bike", label: "Vélo" },
        ]),
      ],
      loansTable: [
        new FieldDef("id", "ID", "id"),
        new FieldDef("departure_at", "Départ", "date"),
        new FieldDef("actual_return_at", "Retour", "date", { show: false }),
        new FieldDef(
          "loanable.name",
          "Véhicule",
          {
            relation: "loanables",
            label: "name",
            field: "id",
            params: { for: "edit", with_deleted: true },
          },
          {
            filterKey: "loanable.id",
            urlFct: loanLoanableLink,
          }
        ),
        new FieldDef(
          "borrower.user.full_name",
          "Emprunteur",
          {
            relation: "users",
            label: "full_name",
            field: "id",
            params: { for: "edit", with_deleted: canSeeDeletedUser(user) },
          },
          {
            filterKey: "borrower.user.id",
            urlFct: loanBorrowerLink,
          }
        ),
        new FieldDef(
          "loanable.owner.user.full_name",
          "Propriétaire",
          {
            relation: "users",
            label: "full_name",
            field: "id",
            params: { for: "edit", with_deleted: canSeeDeletedUser(user) },
          },
          {
            filterKey: "loanable.owner.user.id",
            urlFct: loanOwnerLink,
          }
        ),
        new FieldDef("status", "Statut", [
          { value: null, label: "Tous" },
          { value: "in_process", label: "En cours" },
          { value: "completed", label: "Complété" },
          { value: "canceled", label: "Annulé" },
        ]),
        new FieldDef("actual_duration_in_minutes", "Durée", "number", { show: false }),
        new FieldDef("calendar_days", "Nombre de jours", "number", { show: false }),
        new FieldDef(
          "loanable.type",
          "Type de véhicule",
          [
            { value: null, label: "Tous" },
            { value: "car", label: "auto" },
            { value: "trailer", label: "Remorque" },
            { value: "bike", label: "vélo" },
          ],
          { show: false }
        ),
        new FieldDef(
          "incidents.status",
          "Incidents",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Résolu" },
            { value: "canceled", label: "Annulé" },
          ],
          { show: false }
        ),
        new FieldDef(
          "extensions.status",
          "Retards",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Accepté" },
            { value: "canceled", label: "Annulé" },
          ],
          { show: false }
        ),
        new FieldDef(
          "loanable.is_self_service",
          "Libre service",
          [
            { value: null, label: "Tous" },
            { value: true, label: "En libre service" },
            { value: false, label: "Sur demande" },
          ],
          { show: false }
        ),
        new FieldDef(
          "intention.status",
          "Demande d'emprunt",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Acceptée" },
            { value: "canceled", label: "Refusée" },
          ],
          { show: false }
        ),
        new FieldDef(
          "pre_payment.status",
          "Prépaiement",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complété" },
            { value: "canceled", label: "Annulé" },
          ],
          { show: false }
        ),
        new FieldDef(
          "takeover.status",
          "Prise de possession",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complétée" },
            { value: "canceled", label: "Contestée" },
          ],
          { show: false }
        ),
        new FieldDef(
          "handover.status",
          "Retour du véhicule",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complété" },
            { value: "canceled", label: "Contesté" },
          ],
          { show: false }
        ),
        new FieldDef(
          "payment.status",
          "Paiment",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complété" },
            { value: "canceled", label: "Annulé" },
          ],
          { show: false }
        ),
      ],
      paymentMethodsTable: [
        new FieldDef("id", "ID", "id", { filter: false, sortable: false }),
        new FieldDef("name", "Nom", "text", { filter: false, sortable: false }),
        new FieldDef("informations", "Informations", "text", { filter: false, sortable: false }),
        FieldDef.dataOnly("credit_card_type"),
        FieldDef.dataOnly("four_last_digits"),
        FieldDef.dataOnly("external_id"),
      ],
    };
  },
  computed: {
    allLoans() {
      return [
        ...this.item.loanables.reduce((acc, loanable) => {
          acc.push(
            ...loanable.loans.map((l) => ({
              ...l,
              loanable: {
                ...loanable,
                owner: {
                  ...this.item.owner,
                  user: this.item,
                },
              },
            }))
          );
          return acc;
        }, []),
        ...this.item.loans,
      ];
    },
    borrowerStatus() {
      if (!this.item.borrower) {
        return "L'utilisateur n'a pas encore commencé à remplir son dossier de conduite";
      } else if (!this.item.borrower.approved) {
        return "Non approuvé";
      }
      return this.item.borrower.suspended ? "Suspendu" : "Approuvé";
    },
    canChangeUserPassword() {
      return canChangeUserPassword(this.loggedInUser, this.item);
    },
    canEditUser() {
      return canEditUser(this.loggedInUser, this.item);
    },
    canEditDriversProfile() {
      return canEditDriversProfile(this.loggedInUser, this.item);
    },
    canManageGlobalAdmins() {
      return canManageGlobalAdmins(this.loggedInUser);
    },
    loggedInUser() {
      return this.$store.state.user;
    },
    loggedInUserIsMe() {
      return userIsSame(this.loggedInUser, this.item);
    },
    communitySelected() {
      return this.communitiesSelected[0];
    },
  },
  methods: {
    async addCommunity(community) {
      await this.$store.dispatch("users/joinCommunity", {
        userId: this.item.id,
        communityId: community.id,
      });
      this.$refs.communityTable.setFilters({ "community.id": community.id });
    },
    afterSubmit() {
      this.$refs.passwordForm.reset();
    },
    async approveBorrower(user) {
      await this.$store.dispatch(`${this.slug}/approveBorrower`, user.id);
    },
    async checkInvalidThenSubmit(passes) {
      await passes(this.submit);

      const invalidItems = document.getElementsByClassName("is-invalid");
      if (invalidItems.length > 0) {
        invalidItems[0].scrollIntoView({
          behavior: "smooth",
        });
      }
    },
    loanableRowSelected(rows) {
      this.loanablesSelected = rows;
    },
    resetPasswordFormAndShowModal() {
      this.$refs.passwordForm.reset();
      this.$bvModal.show("password-change-modal");
    },
    async suspendBorrower(user) {
      await this.$store.dispatch(`${this.slug}/suspendBorrower`, user.id);
    },
    async unsuspendBorrower(user) {
      await this.$store.dispatch(`${this.slug}/unsuspendBorrower`, user.id);
    },
    getSignedAmount(type, amount) {
      if (type === "debit") return -amount;

      return amount;
    },
  },
  i18n: {
    messages: {
      en: {
        loanableTypes: locales.en.loanables.fields.types,
        ...locales.en.users,
        ...locales.en.forms,
      },
      fr: {
        loanableTypes: locales.fr.loanables.fields.types,
        ...locales.fr.users,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
