<template>
  <header class="layout-header">
    <div v-if="isSuspended" class="suspended-message">
      <strong
        >❗ Votre profil d'emprunteur est suspendu par l'équipe LocoMotion.
        <a href="/faq">Contactez-nous</a> pour plus de détails. ❗</strong
      >
    </div>
    <div class="layout-header__navbar">
      <layout-navbar :title="title" />
    </div>
  </header>
</template>

<script>
import LayoutNavbar from "@/components/Layout/Navbar.vue";
import UserMixin from "@/mixins/UserMixin";

export default {
  name: "Header",
  mixins: [UserMixin],
  components: {
    LayoutNavbar,
  },
  props: {
    title: {
      type: String,
      require: false,
      default: "",
    },
  },
};
</script>

<style lang="scss">
.suspended-message {
  background-color: rgb(255, 200, 200);
  text-align: center;
  padding: 0.5em;
}
</style>
