<template>
  <div class="profile-borrower" v-if="itemLoaded && routeDataLoaded">
    <div v-if="item.borrower.validated" class="profile-borrower__completed-alert">
      <b-alert v-if="changed" variant="danger" show>
        <h4 class="alert-heading">Attention!</h4>
        <p>
          Vous modifiez les informations de votre profil d'emprunteur déjà validé. Ce changement
          révoquera l'approbation de votre dossier et vous ne pourrez plus emprunter d'auto tant
          qu'un administrateur ne l'aura pas validé.
        </p>
      </b-alert>
      <b-alert v-else variant="success" show>
        <p>Votre profil d'emprunteur est complet et a été validé par l'équipe de LocoMotion.</p>
      </b-alert>
    </div>
    <div
      v-else-if="item.borrower.submitted_at && !item.borrower.suspended"
      class="profile-borrower__completed-alert"
    >
      <b-alert variant="warning" show>
        <p>
          Votre profil d'emprunteur est complet et doit maintenant être validé par l'équipe de
          LocoMotion.
        </p>
      </b-alert>
    </div>

    <b-alert variant="info" show>
      <p>Notez que vous devez avoir 21 ans ou plus pour pouvoir emprunter une auto.</p>
      <p>
        Les informations ci-contre ne sont requises que si vous désirez emprunter des voitures.
        Celles-ci ne seront accessibles que par l'équipe de LocoMotion ou les représentants des
        assurances Desjardins. Consultez notre
        <a href="/privacy" target="_blank">politique de confidentialité</a>.
      </p>
    </b-alert>

    <borrower-form
      :loading="loading"
      :borrower="item.borrower"
      @reset="reset"
      :changed="changed"
      @save="submit"
      @submit="submitBorrower"
      v-if="item"
    />
  </div>
  <layout-loading v-else />
</template>

<script>
import BorrowerForm from "@/components/Borrower/BorrowerForm.vue";

import DataRouteGuards from "@/mixins/DataRouteGuards";
import FormMixin from "@/mixins/FormMixin";
import Vue from "vue";
import { extractErrors } from "@/helpers";

export default {
  name: "ProfileBorrower",
  mixins: [DataRouteGuards, FormMixin],
  components: { BorrowerForm },
  props: {
    id: {
      required: false,
      default: "me",
    },
  },
  methods: {
    async submitBorrower() {
      try {
        await this.$store.dispatch("users/submitBorrower");

        // send up notification and navigate to dashboard.
        this.$store.commit("addNotification", {
          content: "Un membre de notre équipe va valider votre dossier.",
          title: "Dossier de conduite mis à jour!",
          variant: "success",
        });

        this.$router.push("/app");
      } catch (e) {
        if (Vue.axios.isCancel(e)) {
          return;
        }

        const errorContent = e.response?.data ? extractErrors(e.response.data).join(", ") : "";
        this.$store.commit("addNotification", {
          content: errorContent,
          title: "Erreur de sauvegarde",
          variant: "danger",
          type: "form",
        });

        if (e.request.status !== 422) {
          throw e;
        }
      }
    },
  },
};
</script>

<style lang="scss">
.profile-borrower {
  &__completed-alert {
    p:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
