<template>
  <paginated-list
    endpoint="/loans"
    :fetch-params="{
      order: '-departure_at',
      fields: this.fields,
      ...filter,
      ...statusFilters,
    }"
    ref="list"
    label="emprunt"
  >
    <template #filters> <loan-filters @update="statusFilters = $event" /></template>
    <template #item="item">
      <loan-info-box
        class="profile-loanables__loanables__loanable"
        :loan="item"
        :user="user"
        :buttons="buttons"
        @changed="() => $refs.list.loadListData(1)"
      />
    </template>
  </paginated-list>
</template>

<script>
import PaginatedList from "@/components/shared/PaginatedList.vue";
import LoanInfoBox from "@/components/Loan/InfoBox.vue";
import LoanFilters from "@/views/profile/LoanFilters.vue";

export default {
  name: "LoanList",
  components: { LoanFilters, LoanInfoBox, PaginatedList },
  props: {
    user: {
      type: Object,
      required: true,
    },
    filter: {
      type: Object,
      default: {},
    },
    buttons: {
      type: Array,
    },
  },
  data() {
    return {
      statusFilters: {},
      fields: [
        "*",
        "actions.*",
        "incidents.*",
        "extensions.*",
        "borrower.id",
        "borrower.user.avatar",
        "borrower.user.full_name",
        "borrower.user.id",
        "loanable.id",
        "loanable.image.*",
        "loanable.name",
        "loanable.owner.id",
        "loanable.owner.user.avatar.*",
        "loanable.owner.user.full_name",
        "loanable.owner.user.id",
        "loanable.type",
        "loanable.is_self_service",
        "incidents.status",
        "intention.status",
        "pre_payment.status",
        "takeover.status",
        "extensions.status",
        "handover.status",
        "payment.status",
      ].join(","),
    };
  },
};
</script>

<style scoped></style>
