<template>
  <b-tabs pills content-class="mt-3" @input="onTabChange" :value="initialTab">
    <b-tab title="Mes emprunts">
      <loan-list
        v-if="loadedTabs[0]"
        :user="user"
        :filter="{
          'borrower.user.id': 'me',
        }"
        :buttons="['view', 'cancel']"
      />
    </b-tab>
    <b-tab title="Emprunts de mes véhicules" v-if="user.owner">
      <loan-list v-if="loadedTabs[1]" :user="user" :filter="{ 'loanable.owner.user.id': 'me' }" />
    </b-tab>
    <b-tab title="Emprunts de véhicules gérés">
      <loan-list
        v-if="loadedTabs[2]"
        :user="user"
        :filter="{ 'loanable.coowners.user.id': 'me' }"
      />
    </b-tab>
  </b-tabs>
</template>

<script>
import LoanInfoBox from "@/components/Loan/InfoBox.vue";

import Authenticated from "@/mixins/Authenticated";
import PaginatedList from "@/components/shared/PaginatedList.vue";
import LoanFilters from "@/views/profile/LoanFilters.vue";
import LoanList from "@/views/profile/LoanList.vue";
import Vue from "vue";

const tabHashes = ["my-loans", "my-loanables", "coowned-loanables"];

export default {
  name: "ProfileLoans",
  mixins: [Authenticated],
  components: { LoanList, LoanFilters, PaginatedList, LoanInfoBox },
  data() {
    const loadedTabs = [false, false, false];
    let initialTab = tabHashes.findIndex((h) => this.$route.hash === "#" + h);
    if (initialTab === -1) {
      initialTab = 0;
    }

    loadedTabs[initialTab] = true;

    return {
      loadedTabs,
      initialTab,
    };
  },
  methods: {
    onTabChange(tab) {
      Vue.set(this.loadedTabs, tab, true);
      this.$router.replace("#" + tabHashes[tab]);
    },
  },
};
</script>

<style lang="scss"></style>
