<template>
  <div class="awareness-banner">
    <img class="awareness-banner__image" v-if="image" :src="image" />

    <div class="awareness-banner__main-column">
      <h2>{{ this.title }}</h2>

      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "AwarenessBanner",
  components: {},
  props: {
    title: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: false,
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";

.awareness-banner {
  /* For absolute positioning of the image. */
  position: relative;

  border-radius: 0.5rem;
  padding: 1rem 3rem 1rem 14rem;
  background-color: #f5f5f5;

  @include media-breakpoint-down(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__image {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 10rem;
    height: 10rem;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__main-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
  }
}
</style>
