<template>
  <div v-if="exportFailed" class="text-danger">
    Erreur lors de l'export.
    <a target="_blank" href="https://framateam.org/locomotionapp/channels/bogues-et-demandes"
      >Avisez l'équipe technique si elle se reproduit.</a
    >
  </div>
  <div v-else-if="exportData">
    <div
      class="d-flex flex-fill align-items-center"
      v-if="exportData.queued && exportProgress < 100"
    >
      Export en cours:
      <div class="flex-fill ml-2">
        <b-progress v-if="exportData.queued" :value="exportProgress" animated />
      </div>
    </div>
    <a v-else :href="exportData.file" target="_blank"> Télécharger (CSV) {{ label }} </a>
  </div>
  <b-button
    v-else
    class="mr-3 generate-csv-button"
    variant="outline-primary"
    @click="exportCsv"
    :disabled="exportLoading"
  >
    Générer (CSV) {{ label }}
    <b-spinner small v-if="exportLoading" />
  </b-button>
</template>

<script>
import axios from "axios";
import { extractErrors } from "@/helpers";

const getDefaultState = () => ({
  exportData: null,
  exportProgress: 0,
  exportLoading: false,
  exportFailed: false,
});

export default {
  name: "ExportButton",
  data: getDefaultState,
  props: {
    params: {
      type: Object,
      default: () => ({}),
    },
    store: {
      type: String,
      required: true,
    },
    label: {
      type: String,
    },
  },
  computed: {
    state() {
      return this.$store.state[this.store];
    },
    slug() {
      return this.state.slug;
    },
  },
  methods: {
    reset() {
      Object.assign(this.$data, getDefaultState());
    },
    async exportCsv() {
      this.exportProgress = 0;
      this.exportLoading = true;

      try {
        const { data } = await axios.get(`/${this.slug}`, {
          params: {
            ...this.params,
            per_page: "*",
            page: 1,
            fields: this.state.exportFields.join(","),
            "!fields": this.state.exportNotFields.join(","),
          },
          headers: {
            Accept: "text/csv",
          },
        });

        this.exportData = data;

        if (data.queued && data.batch) {
          const interval = setInterval(async () => {
            const response = await axios.get(`/batch/${data.batch}`);
            if (!response.data || response.data.failedJobs > 0) {
              this.exportFailed = true;
              this.exportLoading = false;
              clearInterval(interval);
              return;
            }

            if (response.data.pendingJobs === 0) {
              this.exportProgress = 100;
              this.exportLoading = false;
              clearInterval(interval);
              return;
            }

            this.exportProgress = response.data.progress;
          }, 1000);
        } else {
          this.exportProgress = 100;
          this.exportLoading = false;
        }
      } catch (e) {
        this.exportFailed = true;
        this.exportLoading = false;
        if (e.response.data) {
          this.$store.commit("addNotification", {
            content: extractErrors(e.response.data).join(", "),
            title: "Erreur lors de l'export",
            variant: "danger",
          });
        }
      }
    },
  },
  watch: {
    params() {
      this.reset();
    },
  },
};
</script>
