<template>
  <div class="d-flex">
    <b-form-select
      size="sm"
      :name="name"
      v-if="Array.isArray(type)"
      :value="typeof value === 'undefined' ? null : value"
      @input="onChange"
    >
      <b-form-select-option v-for="option in type" :value="option.value">
        {{ option.label | capitalize }}
      </b-form-select-option>
    </b-form-select>
    <div v-else-if="type === 'boolean'">
      <b-form-checkbox
        :name="name"
        :value="true"
        :unchecked-value="false"
        :checked="value"
        @change="onCheckChange"
      >
      </b-form-checkbox>
    </div>
    <div v-else-if="type === 'date'">
      <forms-date-range-picker :value="value" @input="onChange" />
    </div>
    <div v-else-if="type === 'number' || type === 'currency'">
      <forms-number-range-picker :value="value" @input="onChange" />
    </div>
    <div v-else-if="!!type.relation" class="flex-fill">
      <relation-input
        @click.native.stop.prevent
        ref="relationInput"
        :min-search-length="0"
        :show-clear-button="false"
        value=""
        :query="{
          slug: type.relation,
          value: type.field,
          text: type.label,
          params: type.params,
          details: type.details ? type.details : type.field,
        }"
        :name="name"
        :value="value"
        @input="(c) => onChange(c[type.field])"
      />
    </div>
    <b-form-input ref="input" v-else size="sm" :value="value" debounce="300" @update="onChange" />
    <b-button
      v-if="!Array.isArray(type) && type !== 'boolean' && value"
      variant="link"
      size="sm"
      @click="clear"
      >x</b-button
    >
  </div>
</template>
<script>
import FormsDatePicker from "@/components/Forms/DatePicker.vue";
import FormsDateRangePicker from "@/components/Forms/DateRangePicker.vue";
import FormsNumberRangePicker from "@/components/Forms/NumberRangePicker.vue";
import RelationInput from "@/components/Forms/RelationInput.vue";

export default {
  name: "filterInput",
  components: { RelationInput, FormsNumberRangePicker, FormsDateRangePicker, FormsDatePicker },
  props: {
    type: {},
    value: {},
    name: {},
  },
  mounted() {
    // We have to set the html element size this way, since it's also a prop on the bootstrap-vue
    // components
    if (this.type === "id") {
      this.$refs.input.$el.size = 5;
    }
  },
  methods: {
    clear() {
      this.$emit("input", null);
      if (this.$refs.relationInput) {
        this.$refs.relationInput.reset();
      }
    },
    onChange(value) {
      this.$emit("input", value);
    },
    onCheckChange(value) {
      if (value) {
        this.$emit("input", true);
        return;
      }
      this.$emit("input", null);
    },
  },
};
</script>
