<template>
  <div>
    <b-row class="mb-3" v-if="$slots.filters || total > itemsPerPage">
      <b-col cols="12" md class="d-flex align-items-center">
        <slot name="filters" />
      </b-col>
      <b-col class="d-flex align-items-center" cols="auto">
        <b-pagination
          class="m-0"
          v-if="total > itemsPerPage"
          align="right"
          v-model:value="currentPage"
          :total-rows="total"
          :per-page="itemsPerPage"
          @change="loadListData"
        />
      </b-col>
    </b-row>
    <div v-if="shownItems.length === 0">
      <layout-loading v-if="loading" />
      <div v-else>Aucun {{ label }}.</div>
    </div>
    <div v-else>
      <div :class="{ loading: loading }">
        <slot name="item" v-for="item in shownItems" v-bind="item" />
      </div>
      <layout-loading class="loading-overlay" v-if="loading" />

      <b-pagination
        v-if="total > itemsPerPage"
        align="right"
        v-model:value="currentPage"
        :total-rows="total"
        :per-page="itemsPerPage"
        @change="loadListData"
      />
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import LayoutLoading from "@/components/Layout/Loading.vue";

export default {
  name: "PaginatedList",
  components: { LayoutLoading },
  props: {
    label: {},
    endpoint: {},
    fetchParams: {},
    itemsPerPage: {
      type: Number,
      default: 10,
    },
  },
  data() {
    return {
      shownItems: [],
      loading: false,
      total: 0,
      currentPage: 1,
    };
  },
  mounted() {
    this.loadListData(1);
  },
  watch: {
    fetchParams(newValue, oldValue) {
      if (JSON.stringify(newValue) !== JSON.stringify(oldValue)) {
        this.currentPage = 1;
        this.loadListData(1);
      }
    },
  },
  methods: {
    async loadListData(page) {
      this.loading = true;
      try {
        const { data } = await Vue.axios.get(this.endpoint, {
          params: {
            ...this.fetchParams,
            per_page: this.itemsPerPage,
            page: page,
          },
        });
        this.shownItems = data.data;
        this.total = data.total;
      } catch (e) {
        this.$store.commit("addNotification", {
          content: `Erreur de chargement de données`,
          title: `${this.label}`,
          variant: "warning",
          type: "data",
        });
        throw e;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped>
.loading {
  opacity: 0.5;
}
.loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
