<template>
  <b-card no-body class="loan-form loan-actions loan-actions-pre_payment">
    <b-card-header
      header-tag="header"
      role="tab"
      class="loan-actions__header"
      v-b-toggle.loan-actions-pre_payment
    >
      <h2>
        <svg-waiting v-if="action.status === 'in_process' && !loanIsCanceled" />
        <svg-check v-else-if="action.status === 'completed'" />
        <svg-danger v-else-if="action.status === 'canceled' || loanIsCanceled" />
        {{ item.is_free ? "Contribution volontaire" : "Prépaiement" }}
      </h2>

      <!-- Canceled loans: current step remains in-process. -->
      <span v-if="action.status === 'in_process' && loanIsCanceled">
        Emprunt annulé &bull; {{ item.canceled_at | datetime }}
      </span>
      <span v-else-if="action.status == 'in_process'"> En attente </span>
      <span v-else-if="action.status === 'completed'">
        Complété &bull; {{ action.executed_at | datetime }}
      </span>
      <span v-else-if="action.status === 'canceled'">
        Annulé &bull; {{ action.executed_at | datetime }}
      </span>
    </b-card-header>

    <b-collapse
      id="loan-actions-pre_payment"
      role="tabpanel"
      accordion="loan-actions"
      :visible="open"
    >
      <b-card-body>
        <div class="loan-actions-pre_payment__description" v-if="!action.executed_at">
          <!-- Action is not completed -->
          <div v-if="action.status === 'in_process' && loanIsCanceled">
            <p>L'emprunt a été annulé. Cette étape ne peut pas être complétée.</p>
          </div>

          <div v-else-if="isBorrower">
            <b-row>
              <b-col>
                <donation
                  title="Aidez LocoMotion à poursuivre sa route!"
                  :image="
                    item.loanable.type == 'car' ? '/donation-car_288.jpg' : '/donation-bike_288.jpg'
                  "
                  :disabled="!canPrepay"
                  :amountOptions="tipAmountOptions"
                  :amount="tipAmount"
                  @amountChanged="tipAmountChanged"
                >
                  <template>
                    <p>
                      LocoMotion roule grâce à un financement public qui finira en 2024. Pour que ce
                      projet qui fait du bien poursuive sa route, on teste si on est capable de le
                      financer ensemble.
                    </p>
                    <p>Aidez le réseau LocoMotion, faites un don!</p>
                  </template>
                  <template v-slot:under>
                    <p>
                      <small>
                        Votre don sera prélevé à la conclusion de votre trajet. Si vous changez
                        d’avis, vous pourrez l’enlever à ce moment-là.
                      </small>
                    </p>
                  </template>
                </donation>
              </b-col>
            </b-row>

            <!-- Only show estimation if something is estimated. -->
            <template v-if="minimumCost > 0">
              <h3 class="mt-3">Estimation</h3>

              <p>
                Le prépaiement se base sur votre estimation de la distance. Le coût exact sera
                calculé à la fin du trajet.
              </p>

              <table class="trip-details">
                <tr class="header">
                  <th>Coût du trajet</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Temps et distance</th>
                  <td class="text-right tabular-nums">
                    {{ parseFloat(this.item.actual_price) | currency }}
                  </td>
                </tr>
                <tr>
                  <th>Assurances</th>
                  <td class="text-right tabular-nums">
                    {{ parseFloat(this.item.actual_insurance) | currency }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Contribution volontaire
                    <b-form-text>Peut être modifiée lors du paiement final</b-form-text>
                  </th>
                  <td class="text-right tabular-nums">
                    {{ (this.item.platform_tip ? this.item.platform_tip : 0) | currency }}
                  </td>
                </tr>

                <tr class="last">
                  <th>Total</th>
                  <td class="trip-details__total text-right tabular-nums">
                    <strong>{{ actualPrice | currency }}</strong>
                  </td>
                </tr>

                <tr class="header">
                  <th>Paiement</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Solde actuel</th>
                  <td class="text-right tabular-nums">{{ user.balance | currency }}</td>
                </tr>

                <tr v-if="actualPrice > user.balance" class="last">
                  <th>Minimum à ajouter</th>
                  <td class="trip-details__total text-right tabular-nums">
                    <strong>{{ (actualPrice - user.balance) | currency }}</strong>
                  </td>
                </tr>
                <tr v-else class="last">
                  <th>Solde après paiement</th>
                  <td class="trip-details__total text-right tabular-nums">
                    <strong>{{ (user.balance - actualPrice) | currency }}</strong>
                  </td>
                </tr>
              </table>
              <hr v-if="user.balance < actualPrice" />
            </template>
            <div class="mt-3">
              <payment-dialog
                :price="actualPrice"
                :user="user"
                @complete="completePrepayment"
                :action-name="'continuer'"
              />
            </div>
          </div>
          <div v-else-if="isCoownerOrOwner">
            <p>{{ item.borrower.user.name }} doit compléter l'étape de pré-paiement.</p>
          </div>
        </div>
        <div v-else-if="action.status === 'canceled'">
          <!-- Action is cancled -->
          <p>Cette étape a été annulée.</p>
        </div>
        <div v-else>
          <!-- Action is completed -->
          <p>Cette étape est complétée.</p>
        </div>
      </b-card-body>
    </b-collapse>
  </b-card>
</template>

<script>
import Donation from "@/components/shared/Donation.vue";
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import UserAddCreditBox from "@/components/User/AddCreditBox.vue";

import LoanActionsMixin from "@/mixins/LoanActionsMixin";

import locales from "@/locales";
import { currency } from "@/helpers/filters";
import { canPrepay } from "@/helpers/permissions/loans";
import PaymentDialog from "@/components/User/PaymentDialog.vue";

export default {
  name: "LoanActionsPrePayment",
  mixins: [LoanActionsMixin],
  components: {
    PaymentDialog,
    Donation,
    FormsValidatedInput,
    UserAddCreditBox,
  },
  computed: {
    tipAmountOptions() {
      let amounts = [];

      if (this.item.actual_price > 0) {
        amounts = [5, 8, 20, 60];
      } else {
        // Add zero for free loans. Remove 60 to have only 4 options (better visually)
        amounts = [0, 5, 8, 20];
      }

      return amounts.map((a) => ({ value: a, title: `${a}$` }));
    },
    tipAmount() {
      // If the amount is null, than set suggested amount. If it is explicitly
      // zero, that means that the user uneslected the amount, then we leave it
      // to 0.
      if (null === this.item.platform_tip) {
        if (this.item.actual_price > 0) {
          this.item.platform_tip = this.tipAmountOptions[1].value;
        } else {
          // Select zero by default for free loans.
          this.item.platform_tip = this.tipAmountOptions[0].value;
        }
      }

      return this.item.platform_tip;
    },
    minimumCost() {
      return parseFloat(this.item.actual_price) + parseFloat(this.item.actual_insurance);
    },
    actualPrice() {
      return (
        parseFloat(this.item.actual_price) +
        parseFloat(this.item.actual_insurance) +
        parseFloat(this.item.platform_tip ?? 0)
      );
    },
    canPrepay() {
      return canPrepay(this.user, this.item);
    },
    /*
      Can complete if balance is sufficient to cover price and insurance.
      It is not necessary to cover tip as it may be changed later.
    */
    canComplete() {
      return this.canPrepay && parseFloat(this.user.balance) >= this.minimumCost;
    },
  },
  methods: {
    tipAmountChanged(newAmount) {
      // If null set to zero explicitly so the suggested amount is not set.
      if (null === newAmount) {
        this.item.platform_tip = 0;
      } else {
        this.item.platform_tip = newAmount;
      }
    },
    async completePrepayment() {
      this.actionLoading = true;

      try {
        await this.$store.dispatch("loans/sendRequest", {
          method: "put",
          url: `/loans/${this.item.id}/prepayment/complete`,
          data: { ...this.action, platform_tip: this.item.platform_tip },
        });
        this.$emit("completed");
      } finally {
        this.actionLoading = false;
      }
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loans,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.loans,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss">
.loan-actions-pre_payment {
  .trip-details {
    margin: 0 auto;
    line-height: 1.5;

    th,
    td {
      padding: 0 0.75rem;
      font-weight: normal;
    }

    tr:not(.header):not(.last) th,
    tr:not(.header):not(.last) td {
      border-bottom: 1px dotted lightgray;
    }

    .header th {
      font-weight: bold;
      font-size: 1.2rem;
      padding-top: 0.5rem;
    }
  }

  .trip-details__total {
    border-top: 1px solid black;
  }
}
</style>
