<script>
import Vue from "vue";
import Bike from "@/assets/svg/bike.svg";
import Car from "@/assets/svg/car.svg";
import Trailer from "@/assets/svg/trailer.svg";
import { userIsApproved } from "@/helpers/permissions/users";

export default Vue.extend({
  name: "LoanableTypeSelection",
  components: {
    "svg-bike": Bike,
    "svg-car": Car,
    "svg-trailer": Trailer,
  },
  props: {
    loanable: {
      type: Object,
      required: true,
    },
    availableTypes: {
      type: Array,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  computed: {
    userIsApproved() {
      return userIsApproved(this.user);
    },
    allTypesAllowed() {
      return (
        this.availableTypes.includes("car") &&
        this.availableTypes.includes("trailer") &&
        this.availableTypes.includes("bike")
      );
    },
    communitiesWithChatGroup() {
      return this.user.communities.filter((c) => !!c.chat_group_url);
    },
  },
});
</script>

<template>
  <div>
    <div v-if="!userIsApproved">
      Vous devez être approuvé-e dans une communauté pour ajouter un véhicule.
    </div>
    <div v-else>
      <h3 class="mb-4">Quel type de véhicule voulez-vous partager?</h3>

      <div class="loanable-types">
        <b-button
          variant="outline-success"
          :disabled="!availableTypes.includes('car')"
          @click="() => (loanable.type = 'car')"
        >
          <svg-car />
          <div>Auto <span v-if="!availableTypes.includes('car')">*</span></div>
        </b-button>
        <b-button
          variant="outline-success"
          :disabled="!availableTypes.includes('bike')"
          @click="() => (loanable.type = 'bike')"
        >
          <svg-bike />
          <div>Vélo <span v-if="!availableTypes.includes('bike')">*</span></div>
        </b-button>
        <b-button
          variant="outline-success"
          :disabled="!availableTypes.includes('trailer')"
          @click="() => (loanable.type = 'trailer')"
        >
          <svg-trailer />
          <div>Remorque <span v-if="!availableTypes.includes('trailer')">*</span></div>
        </b-button>
      </div>

      <div v-if="!allTypesAllowed" class="mt-4">
        <div v-if="user.communities.length > 1">
          * Vos communautés ne permettent pas le partage de certains types de véhicules.
          Impliquez-vous dans le comité de votre quartier pour développer le partage de ces
          véhicules!
          <div class="mt-2" v-if="communitiesWithChatGroup.length > 0">
            <strong>Groupes de discussions</strong>
            <ul>
              <li v-for="c in communitiesWithChatGroup" :key="c.id">
                <a :href="c.chat_group_url" target="_blank">{{ c.name }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div v-else-if="user.communities.length === 1">
          * {{ user.communities[0].name }} ne pertmet pas le partage de certains types de véhicules.
          <a
            v-if="user.communities[0].chat_group_url"
            :href="user.communities[0].chat_group_url"
            target="_blank"
          >
            Impliquez-vous dans le comité
          </a>
          <span v-else>Impliquez-vous dans le comité</span>
          pour développer le partage de ces véhicules.
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.loanable-types {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  .btn {
    border-width: 3px;
    border-radius: 0.5rem;
    svg {
      fill: currentColor;
      min-width: 5rem;
    }
  }
}
</style>
