<template>
  <div class="community-map-wrapper">
    <gmap-map
      class="community-map"
      ref="map"
      :center="center"
      :zoom="14"
      :options="mapOptions"
      @click="selectedLoanable = null"
      map-type-id="terrain"
    >
      <template v-for="c in communityPolygons">
        <gmap-polygon
          v-for="(path, index) in c.paths"
          :key="`polygon-${c.name}-${index}`"
          :path="path"
          :label="c.name"
          :options="polygonOptions"
        />
      </template>
      <gmap-marker
        v-for="l in data"
        :key="`marker-${l.id}`"
        :icon="iconFor(l)"
        @click="activateLoanable(l)"
        :position="l.position_google"
      >
        <gmap-info-window
          v-if="selectedLoanable && selectedLoanable.id === l.id"
          @closeclick="selectedLoanable = null"
        >
          <loanable-details
            fixed-width
            :loanable="l"
            @select="$emit('select', l)"
            @test="$emit('test', l)"
          />
        </gmap-info-window>
      </gmap-marker>
    </gmap-map>
    <div
      class="center-target-button"
      v-b-tooltip.hover.left="
        userPositionDisabled
          ? 'Pour centrer sur votre position, acceptez l\'accès à votre position dans votre navigateur.'
          : 'Centrer sur votre position approximative'
      "
    >
      <b-button
        ref="togglePosition"
        :disabled="userPositionDisabled"
        variant="secondary"
        pill
        @click="toggleCentering"
        :pressed="centerOnUser"
      >
        <b-icon icon="geo"></b-icon>
      </b-button>
    </div>
  </div>
</template>

<script>
import { gmapApi } from "vue2-google-maps";

import LoanableDetails from "@/components/Loanable/Details.vue";
import { extractMultipolygonPaths, extractMultipolygonPoints } from "@/helpers/geoJson";

export default {
  name: "LoanableMap",
  components: {
    LoanableDetails,
  },
  mounted() {
    this.findUserPosition();
    setTimeout(() => {
      this.$refs.map.$mapPromise.then(() => {
        this.recenter();
      });
    }, 500);
  },
  beforeDestroy() {
    navigator.geolocation.clearWatch(this.positionWatchId);
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
    communities: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      mapOptions: {
        clickableIcons: false,
        fullscreenControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        maxZoom: 15,
        styles: [
          {
            featureType: "poi",
            stylers: [{ visibility: "off" }],
          },
        ],
      },
      polygonOptions: {
        fillColor: "#16a59e",
        fillOpacity: 0.25,
        strokeOpacity: 0,
        zIndex: 2,
      },
      selectedLoanable: null,
      defaultCenter: { lat: 45.53748, lng: -73.60145 },
      userPosition: null,
      centerOnUser: false,
      userPositionDisabled: false,
      positionWatchId: null,
    };
  },
  computed: {
    center: {
      get() {
        if (this.centerOnUser && this.userPosition) {
          return this.userPosition;
        }

        if (this.$store.state["loanable.search"].center) {
          return this.$store.state["loanable.search"].center;
        }

        if (this.communityBounds) {
          return this.communityBounds.getCenter().toJSON();
        }

        if (this.loanableBounds) {
          return this.loanableBounds.getCenter().toJSON();
        }

        return this.defaultCenter;
      },
      set(center) {
        this.$store.commit("loanable.search/center", center);
      },
    },
    communitiesWithArea() {
      return (this.communities || []).filter((c) => !!c.area);
    },
    google: gmapApi,
    communityPolygons() {
      return this.communitiesWithArea.map((c) => ({
        name: c.name,
        paths: extractMultipolygonPaths(c.area),
      }));
    },
    loanableBounds() {
      if (!this.google || this.data.length <= 0) {
        return null;
      }

      const { LatLngBounds } = this.google.maps;
      const bounds = new LatLngBounds();
      this.data.forEach((c) => bounds.extend(c.position_google));
      return this.padBounds(bounds);
    },
    communityBounds() {
      if (!this.google || this.communitiesWithArea.length === 0) {
        return null;
      }

      const { LatLngBounds } = this.google.maps;
      const bounds = new LatLngBounds();
      this.communitiesWithArea.forEach((c) =>
        this.communityPoints(c).forEach((p) => bounds.extend(p))
      );
      return this.padBounds(bounds);
    },
  },
  methods: {
    communityPoints(community) {
      if (!community.area?.coordinates) {
        return [];
      }
      return extractMultipolygonPoints(community.area);
    },
    padBounds(bounds) {
      if (document.body.clientWidth >= 992) {
        const sw = bounds.getSouthWest();
        const ne = bounds.getNorthEast();
        const leftPad = {
          lat: sw.lat(),
          lng: sw.lng() + (sw.lng() - ne.lng()),
        };
        bounds.extend(leftPad);
      }
      return bounds;
    },
    activateLoanable(l) {
      if (this.selectedLoanable === l) {
        this.selectedLoanable = null;
      } else {
        this.selectedLoanable = l;
      }
    },
    findUserPosition() {
      this.positionWatchId = navigator.geolocation.watchPosition(
        (position) => {
          this.userPosition = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
        },
        (error) => {
          // GeolocationPositionError.code 1: PERMISSION_DENIED
          if (error.code === 1) {
            this.userPositionDisabled = true;
          }
        },
        { enableHighAccuracy: true }
      );
    },
    toggleCentering() {
      this.centerOnUser = !this.centerOnUser;
      // the pressed state is clearer when focus is removed from button
      this.$refs.togglePosition.blur();
    },
    setMapToBounds(bounds) {
      this.$refs.map.fitBounds(bounds);
    },

    recenter() {
      if (this.communityBounds) {
        return this.setMapToBounds(this.communityBounds);
      }

      if (this.loanableBounds) {
        return this.setMapToBounds(this.loanableBounds);
      }

      if (!this.userPositionDisabled) {
        this.centerOnUser = true;
      }
    },
    iconFor(loanable) {
      const status = !loanable.tested
        ? "-outline-"
        : loanable.available === false
        ? "-unavailable-"
        : "-";

      let url;
      switch (loanable.type) {
        case "car":
        case "bike":
        case "trailer":
          url = `/pins/${loanable.type}${status}pin.svg`;
          break;
        default:
          return {
            url: `/pins/default${status}pin.svg`,
            scaledSize: {
              width: 28,
              height: 40,
            },
          };
      }

      return {
        url,
        scaledSize: {
          width: 28,
          height: 40,
        },
      };
    },
    markerClasses(loanable) {
      if (loanable.available === false) {
        return "unavailable";
      }

      return "";
    },
  },
  watch: {
    selectedLoanable(newValue, oldValue) {
      if (newValue && newValue !== oldValue) {
        this.center = newValue.position_google;
      }
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";
.community-map-wrapper {
  width: 100%;
  .center-target-button {
    position: absolute;
    top: 1.5rem;
    right: 12rem;
    z-index: 20;
  }

  @include media-breakpoint-down(md) {
    position: relative;

    .center-target-button {
      right: 1rem;
    }
  }

  // if smaller than lg, make it relative
  .community-map {
    // Adapt Google InfoWindow to the loanable details.
    .gm-style-iw-c {
      padding: 0 !important;
      overflow: hidden !important;
      max-width: 16rem !important;

      .gm-style-iw-d {
        // Main content of loanable details will scroll
        overflow: hidden !important;
        display: flex;
        > div {
          display: flex;
        }
      }

      // close button
      > button {
        right: 0px !important;
        top: 0 !important;
        z-index: 1050;
        background-color: white !important;
      }
    }
  }
}
</style>
