<template>
  <div id="locomotion">
    <keep-alive :include="this.$store.state.user ? ['Dashboard'] : []">
      <router-view />
    </keep-alive>
    <conditions-updated-toast />
  </div>
</template>

<script>
import Notification from "@/mixins/Notification";
import ConditionsUpdatedToast from "@/views/ConditionsUpdatedToast.vue";

export default {
  name: "LocoMotion",
  components: { ConditionsUpdatedToast },
  mixins: [Notification],
  mounted() {
    if (this.$store.state.token && !this.$store.state.loading && !this.$store.state.loaded) {
      this.$store.dispatch("loadUser");
    }
  },
};
</script>

<style lang="scss"></style>
