<template>
  <v-select
    class="forms-relation-input"
    :options="data"
    :placeholder="placeholder"
    :disabled="disabled"
    @search="setQ"
    :filterable="false"
    :value="convertedObjectValue"
    :loading="loading"
    @input="emitInput"
    @open="() => clearOrSearch(false)"
    :clearable="showClearButton"
  >
    <template #no-options>
      <span v-if="!q || q.length < minSearchLength"
        >Tapez quelque chose pour commencer à chercher...</span
      >
      <span v-else>Pas de résultat</span>
    </template>
    <template v-slot:option="option">
      <div class="option">
        <span>{{ option.label }}</span
        >&nbsp;
        <small class="detail" v-if="option.details">- {{ option.details }}</small>
      </div>
    </template>
  </v-select>
</template>

<script>
import Vue from "vue";
import vSelect from "vue-select";
import { debounce } from "@/helpers/debounce";

export default {
  name: "RelationInput",
  components: { vSelect },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    extraParams: {
      type: Object,
      required: false,
      default() {
        return {};
      },
    },
    name: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: null,
    },
    query: {
      type: Object,
      required: true,
    },
    resetAfterSelect: {
      type: Boolean,
      required: false,
      default: false,
    },
    state: {
      type: Boolean,
      required: false,
      default: null,
    },
    objectValue: {
      type: Object,
      required: false,
      default: null,
    },
    value: {
      type: [String, Number],
      required: false,
      default: null,
    },
    showClearButton: {
      type: Boolean,
      default: true,
    },
    minSearchLength: {
      type: Number,
      default: 3,
    },
  },
  mounted() {
    this.debouncedSearch = debounce(() => this.search());
    if (this.value && !this.lastSelectedItem) {
      this.findSelectedItem();
    }
  },
  data() {
    return {
      lastSelectedItem: null,
      searchDebounce: null,
      q: "",
      loading: false,
    };
  },
  computed: {
    context() {
      return this.$store.state[this.slug];
    },
    convertedObjectValue() {
      if (!this.objectValue) {
        if (!this.lastSelectedItem) {
          return null;
        }

        return this.lastSelectedItem;
      }

      const value = this.dig(this.objectValue, this.query.value);
      const label = this.dig(this.objectValue, this.query.text);

      return {
        value,
        label,
      };
    },
    data() {
      return this.context.search.map((d) => {
        return {
          ...d,
          value: this.dig(d, this.query.value),
          label: this.dig(d, this.query.text),
          details: this.query.details ? this.truncate(this.dig(d, this.query.details), 50) : "",
        };
      });
    },
    params() {
      const fields = [this.query.value, this.query.text];

      if (this.query.details) {
        fields.push(this.query.details);
      }

      return {
        ...this.query.params,
        ...this.extraParams,
        fields: fields.join(","),
      };
    },
    slug() {
      return this.query.slug;
    },
  },
  methods: {
    truncate(str, length) {
      if (!str) {
        return "";
      }
      return str.length > length ? str.slice(0, length - 1) + "..." : str;
    },
    dig(target, key) {
      const parts = key.split(".");

      return parts.reduce((acc, k) => {
        if (!acc) {
          return acc;
        }

        return acc[k];
      }, target);
    },
    emitInput(value) {
      this.lastSelectedItem = value;
      this.$emit("input", value);

      if (this.resetAfterSelect) {
        this.reset();
      }
    },
    setQ(q) {
      this.q = q;
    },
    reset() {
      this.lastSelectedItem = null;
      if (this.minSearchLength === 0) {
        this.search();
      }
    },
    async search() {
      try {
        await this.$store.dispatch(`${this.slug}/search`, {
          q: this.q,
          params: this.params,
        });
        this.loading = false;
      } catch (e) {
        if (!Vue.axios.isCancel(e)) {
          this.$store.commit("addNotification", {
            content: "Erreur lors de la recherche.",
            title: "Erreur",
            variant: "danger",
          });
          this.loading = false;
          throw e;
        }
      }
    },
    async findSelectedItem() {
      await Vue.axios
        .get(`/${this.slug}/${this.value}`, {
          params: {
            ...this.params,
          },
        })
        .then(({ data }) => {
          const value = this.dig(data, this.query.value);
          const label = this.dig(data, this.query.text);

          this.lastSelectedItem = {
            value,
            label,
          };
        });
    },
    clearOrSearch(debounce = true) {
      if (this.minSearchLength > 0 && (!this.q || this.q.length < this.minSearchLength)) {
        this.$store.commit(`${this.slug}/search`, []);
        return;
      }

      this.loading = true;
      if (debounce) {
        this.debouncedSearch();
      } else {
        this.search();
      }
    },
  },
  watch: {
    q() {
      this.clearOrSearch();
    },
    value(value) {
      // If value is set programatically, we want to update the filter with the correct selected item
      if (value && this.data.filter((d) => d.value === value).length === 0) {
        this.findSelectedItem();
      }
    },
  },
};
</script>

<style lang="scss">
.forms-relation-input {
  .vs__dropdown-toggle {
    background-color: $white;
  }

  &.vs--disabled {
    .vs__dropdown-toggle,
    .vs__search,
    .vs__open-indicator,
    .vs__clear {
      background-color: #e9ecef;
    }
  }
}
</style>
