<template>
  <b-form-select
    class="time-selector"
    :disabled="disabled"
    :disabled-times-fct="disabledTimesFct"
    v-model="selected"
    :options="timeslots"
  />
</template>

<script>
import dayjs from "dayjs";

const MILLISECONDS_IN_A_DAY = 24 * 60 * 60 * 1000;
const MILLISECONDS_IN_A_MINUTE = 60 * 1000;

export default {
  name: "TimeSelector",

  data() {
    return {
      selected: null,
    };
  },

  props: {
    value: {
      type: Date,
      required: false,
      default: () => new Date(),
    },

    minuteInterval: {
      type: Number,
      required: false,
      default: () => 15,
      validator: (value) => {
        if (MILLISECONDS_IN_A_DAY % (value * MILLISECONDS_IN_A_MINUTE) !== 0) {
          console.error(
            `Invalid prop in \`minuteInterval\` in TimeSelector: 24 hours should be divisible by this number of minutes`
          );
        }
        return true;
      },
    },

    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },

    // disabledTimesFct(time) { return true|false; };
    disabledTimesFct: {
      type: Function,
      required: false,
      default: () => false,
    },
  },

  computed: {
    day() {
      return dayjs(this.value).startOf("day").format("YYYY-MM-DD");
    },
    timeslots() {
      return (
        this.allDayTimeSlots(dayjs(this.day))
          // Augment with option properties.
          .map((timeOfDayAtValue) => {
            return {
              // Carry time along options so as to perform computations on source objects.
              time: timeOfDayAtValue,
              value: timeOfDayAtValue.toDate(),
              text: timeOfDayAtValue.format("HH:mm"),
              disabled: this.disabledTimesFct && this.disabledTimesFct(timeOfDayAtValue),
            };
          })
      );
    },
  },

  methods: {
    allDayTimeSlots(date) {
      const millisecondsInInterval = this.minuteInterval * 60 * 1000;

      // Ensure date is at the start of the day
      date = date.startOfDay();

      // Fill a new array with the correct number...
      return (
        new Array(MILLISECONDS_IN_A_DAY / millisecondsInInterval)
          // ... of empty time slots...
          .fill(null)
          // ... then set them to the current date and appropriate time.
          .map((v, idx) => {
            return date.add(idx * millisecondsInInterval, "millisecond");
          })
      );
    },

    closestOption(needle) {
      return this.timeslots
        .filter((f) => !f.disabled)
        .reduce((closest, current) => {
          // Set closest to current item on first iteration.
          if (!closest) {
            return current;
          }

          let diffClosest = Math.abs(closest.value.getTime() - needle.getTime());
          let diffCurrent = Math.abs(current.value.getTime() - needle.getTime());

          if (diffClosest === diffCurrent) {
            return closest.value > current.value ? closest : current;
          } else {
            return diffCurrent < diffClosest ? current : closest;
          }
        }, undefined);
    },

    onOptionsChanged() {
      const { value } = this.closestOption(this.$dayjs(this.value).toDate());
      this.selected = value;
    },
    onSelection() {
      this.$emit("input", this.selected);
    },
  },

  watch: {
    timeslots: function () {
      this.onOptionsChanged();
    },
    selected: function () {
      this.onSelection();
    },
  },

  created() {
    const { value } = this.closestOption(this.value);
    this.selected = value;

    this.onSelection();
  },
};
</script>

<style lang="scss"></style>
