<template>
  <validation-provider
    class="forms-validated-input"
    :mode="mode"
    :name="label"
    :rules="rulesOrNothing"
    v-slot="validationContext"
  >
    <b-form-group
      :label="type !== 'checkbox' ? label : ''"
      :label-for="name"
      :label-cols="inline"
      :description="type === 'image' ? null : description"
      v-b-tooltip.hover
      :title="disabled ? disabledTooltip : ''"
    >
      <template #description v-if="$slots.description">
        <slot name="description" />
      </template>

      <template #label v-if="$slots.label">
        <slot name="label" />
      </template>

      <b-form-select
        v-if="type === 'select'"
        :id="name"
        :name="name"
        :state="getValidationState(validationContext)"
        :options="options"
        :disabled="disabled"
        v-bind:value="value"
        v-on:change="emitInput"
      />

      <!-- For suggestions, we user the select.search data as the value we emit, as this is
            the field edited by the user. We insure the internal value and search field are
            in sync. -->
      <v-select
        v-else-if="type === 'suggest'"
        ref="select"
        class="validated-input-select"
        :class="getValidationClass(validationContext)"
        :options="options"
        @option:selecting="onSelecting"
        :value="value"
        taggable
        :clearable="false"
        @search="emitInput"
        :clear-search-on-blur="() => false"
        :clear-search-on-select="false"
        :dropdown-should-open="
          ({ open, search, filteredOptions }) =>
            open && search && search.length >= 1 && filteredOptions.length > 1
        "
      >
        <!-- This is needed to select the entered text on blur-->
        <template #search="{ attributes, events }">
          <input
            @blur="() => onBlur(validationContext)"
            ref="selectInput"
            class="vs__search"
            v-bind="attributes"
            v-on="events"
          />
        </template>
        <template #open-indicator="{ attributes }">
          <span v-bind="attributes">&nbsp;</span>
        </template>
        <template #list-header="">
          <div class="text-secondary text-center font-italic">Suggestions:</div>
        </template>
      </v-select>
      <b-form-checkbox
        v-else-if="type === 'checkbox'"
        :id="name"
        :name="name"
        :value="true"
        :disabled="disabled"
        :unchecked-value="false"
        :state="getValidationState(validationContext)"
        :checked="value"
        @change="emitInput"
      >
        <span v-html="label" />
      </b-form-checkbox>
      <b-form-checkbox-group
        v-else-if="type === 'checkboxes'"
        :switches="switches"
        :stacked="stacked"
        :id="name"
        :name="name"
        :disabled="disabled"
        :options="options"
        :state="getValidationState(validationContext)"
        :checked="value"
        @change="emitInput"
      />
      <b-form-textarea
        v-else-if="type === 'textarea'"
        :id="name"
        :name="name"
        :description="description"
        :placeholder="placeholder"
        :disabled="disabled"
        :rows="rows"
        :max-rows="maxRows"
        :state="getValidationState(validationContext)"
        v-bind:value="value"
        v-on:input="emitInput"
      />
      <forms-map-input
        v-else-if="type === 'point'"
        :bounded="bounded"
        :center="center"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        :polygons="polygons"
        v-bind:value="value"
        v-on:input="emitInput"
      />
      <forms-date-picker
        v-else-if="type === 'date'"
        :disabled-dates="disabledDates"
        :disabled-dates-fct="disabledDatesFct"
        :disabled="disabled"
        :initial-view="initialView"
        :state="getValidationState(validationContext)"
        :value="value"
        :open-date="openDate"
        @input="emitInput"
      />
      <forms-date-time-picker
        v-else-if="type === 'datetime'"
        :disabled-dates="disabledDates"
        :disabled-dates-fct="disabledDatesFct"
        :disabled-times-fct="disabledTimesFct"
        :disabled="disabled"
        :value="value"
        @input="emitInput"
      />
      <b-form-input
        v-else-if="type === 'password'"
        :id="name"
        :name="name"
        type="password"
        :placeholder="placeholder"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        v-bind:value="value"
        v-on:input="emitInput"
      />
      <forms-files-uploader
        v-else-if="type === 'files'"
        no-label
        :label="label"
        :id="name"
        :name="name"
        :field="name"
        :placeholder="placeholder"
        :disabled="disabled"
        :value="value"
        @input="emitInput"
      />
      <forms-file-uploader
        v-else-if="type === 'file'"
        :id="name"
        :name="name"
        :field="name"
        :placeholder="placeholder"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        :value="value"
        @input="emitInput"
      />
      <forms-image-uploader
        v-else-if="type === 'image'"
        :id="name"
        :name="name"
        :field="name"
        :description="description"
        :placeholder="placeholder"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        :value="value"
        @input="emitInput"
      />
      <forms-relation-input
        v-else-if="type === 'relation'"
        :id="name"
        :name="name"
        :query="query"
        :placeholder="placeholder"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        :object-value="objectValue"
        :reset-after-select="resetAfterSelect"
        :extra-params="extraParams"
        :value="value"
        @input="emitRelationChange"
      />
      <b-form-input
        ref="currencyInput"
        v-else-if="type === 'currency'"
        :id="name"
        :name="name"
        :disabled="disabled"
        :placeholder="placeholder"
        :state="getValidationState(validationContext)"
        v-currency="{
          locale: 'fr',
          currency: { suffix: ' $' },
          valueRange: { min, max },
          allowNegative: false,
        }"
        :value="currencyValue"
        v-on:change="
          () => {
            const numberValue = getValue($refs.currencyInput);
            if (value !== numberValue) {
              $emit('input', numberValue);
            }
          }
        "
      >
      </b-form-input>
      <b-form-input
        v-else-if="type === 'number'"
        :id="name"
        :name="name"
        number
        type="number"
        :min="min"
        :max="max"
        :step="step"
        :placeholder="placeholder"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        :formatter="formatter"
        v-bind:value="value"
        v-on:input="emitInput"
      />
      <b-form-input
        v-else-if="!!mask"
        :id="name"
        :name="name"
        type="text"
        v-mask="mask"
        masked
        :placeholder="placeholder"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        :formatter="formatter"
        :value="value"
        @input="emitInput"
      />
      <vue-editor v-else-if="type === 'html'" :value="value" @input="emitInput" />
      <b-form-input
        v-else
        :id="name"
        :name="name"
        type="text"
        :placeholder="placeholder"
        :disabled="disabled"
        :state="getValidationState(validationContext)"
        v-bind:value="value"
        v-on:input="emitInput"
      />
      <b-form-invalid-feedback :state="getValidationState(validationContext)">
        {{ validationContext.errors[0] }}
      </b-form-invalid-feedback>
    </b-form-group>
  </validation-provider>
</template>

<script>
import { CurrencyDirective as currency, getValue } from "vue-currency-input";
import { VueEditor } from "vue2-editor";

import FormsDatePicker from "@/components/Forms/DatePicker.vue";
import FormsDateTimePicker from "@/components/Forms/DateTimePicker.vue";
import FormsFileUploader from "@/components/Forms/FileUploader.vue";
import FormsFilesUploader from "@/components/Forms/FilesUploader.vue";
import FormsImageUploader from "@/components/Forms/ImageUploader.vue";
import FormsMapInput from "@/components/Forms/MapInput.vue";
import FormsRelationInput from "@/components/Forms/RelationInput.vue";
import vSelect from "vue-select";

export default {
  name: "FormsValidatedInput",
  props: {
    bounded: {
      type: Boolean,
      default: false,
    },
    center: {
      type: Object | Array,
      required: false,
      default: null,
    },
    description: {
      type: String,
      required: false,
      default: "",
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    disabledDates: {
      type: Object,
      required: false,
      default() {
        return {};
      },
    },
    disabledDatesFct: {
      type: Function,
      required: false,
      default: () => false,
    },
    disabledTimesFct: {
      type: Function,
      required: false,
      default: () => false,
    },
    disabledTooltip: {
      type: String,
      required: false,
      default: "",
    },
    extraParams: {
      type: Object,
      requird: false,
      default() {
        return {};
      },
    },
    initialView: {
      type: String,
      required: false,
      default: null,
    },
    inline: {
      type: [String],
      required: false,
      default: null,
    },
    label: {
      type: String,
      required: false,
    },
    mode: {
      required: false,
      type: String,
      default: "eager",
    },
    mask: {
      required: false,
      type: String,
      default: "",
    },
    max: {
      type: Number,
      required: false,
      default: Number.MAX_SAFE_INTEGER,
    },
    maxRows: {
      type: Number,
      required: false,
      default: 6,
    },
    min: {
      type: Number,
      required: false,
      default: -Number.MAX_SAFE_INTEGER,
    },
    name: {
      type: String,
      required: true,
    },
    objectValue: {
      type: Object,
      required: false,
      default: null,
    },
    openDate: {
      type: Date,
      required: false,
      default() {
        return new Date();
      },
    },
    options: {
      type: Array,
      required: false,
      default() {
        return [];
      },
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    polygons: {
      type: Array,
      required: false,
      default() {
        return [];
      },
    },
    query: {
      type: Object,
      required: false,
      default: null,
    },
    resetAfterSelect: {
      type: Boolean,
      required: false,
      default: false,
    },
    rows: {
      type: Number,
      required: false,
      default: 3,
    },
    rules: {
      type: Object,
      required: false,
      default() {
        return null;
      },
    },
    stacked: {
      type: Boolean,
      required: false,
      default: true,
    },
    step: {
      type: Number,
      required: false,
      default: 1,
    },
    switches: {
      type: Boolean,
      required: false,
      default: true,
    },
    type: {
      type: String,
      required: true,
    },
    value: {
      required: true,
    },
    formatter: {
      type: Function,
      default: null,
    },
  },
  components: {
    vSelect,
    FormsDatePicker,
    FormsDateTimePicker,
    FormsFileUploader,
    FormsFilesUploader,
    FormsImageUploader,
    FormsMapInput,
    FormsRelationInput,
    VueEditor,
  },
  directives: {
    currency,
  },
  computed: {
    rulesOrNothing() {
      if (!this.rules) {
        return "";
      }

      if (this.type === "point") {
        return {
          ...this.rules,
          length: 2,
        };
      }

      return this.rules;
    },
    currencyValue() {
      let float = parseFloat(this.value);
      if (isNaN(float)) {
        return this.value;
      }

      return float.toFixed(2).replace(".", ",") + " $";
    },
  },
  mounted() {
    if (this.$refs.select) {
      this.onSelecting(this.value);
    }
  },
  methods: {
    getValue,
    onBlur(validationContext) {
      if (this.$refs.select.search.length > 0) {
        // Select the option under the highlighted option
        this.$refs.select.typeAheadSelect();
      } else {
        // Update the select.value data to be empty
        this.$refs.select.clearSelection();
      }
      // We need to do this manually since validation-provider can't find the vue-select input
      validationContext.validate();
    },
    onSelecting(val) {
      // Updating search will trigger emitInput
      this.$refs.select.search = val || "";
      // normally search being updated keeps the dropdown open, but here
      // we definitely want to close it since we're selecting
      this.$nextTick(() => (this.$refs.select.open = false));
    },
    emitInput(value) {
      if (!this.disabled) {
        this.$emit("input", value);
      }
    },
    emitRelationChange(value) {
      this.$emit("relation", value);
    },
    getValidationState({ dirty, validated, valid = null }) {
      if (this.rulesOrNothing === "") {
        return null;
      }

      if (dirty && !validated) {
        return null;
      }

      return validated ? valid : null;
    },
    getValidationClass(state) {
      const validationState = this.getValidationState(state);
      if (validationState === null) {
        return null;
      }
      return {
        "is-valid": validationState,
        "is-invalid": !validationState,
      };
    },
  },
};
</script>

<style lang="scss">
.validated-input-select {
  &.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
    opacity: 1;
  }
  .vs__actions {
    padding: 0;
  }

  .vs__dropdown-menu {
    width: 50%;
    min-width: min(20rem, 100%);
    background: $eggshell;
    top: 100%;

    .vs__dropdown-option--selected {
      display: none;
    }

    .vs__dropdown-option--highlight {
      background: $background-alert-informative;
      color: $dark;
    }
  }

  // Copy bootstrap stypes for validation
  .vs__dropdown-toggle {
    background: #fff
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      no-repeat right 0.75rem center/8px 10px;
  }
  &.is-invalid .vs__dropdown-toggle {
    border-color: $danger;
    padding-right: calc(0.75em + 2.3125rem);
    background:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px,
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e2738a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e2738a' stroke='none'/%3e%3c/svg%3e")
        #fff no-repeat center right 1.75rem / calc(0.6em + 0.375rem) calc(0.6em + 0.375rem);
  }

  &.is-valid .vs__dropdown-toggle {
    border-color: $success;
    padding-right: calc(0.75em + 2.3125rem);
    background:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px,
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%234fb999' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")
        #fff no-repeat center right 1.75rem / calc(0.6em + 0.375rem) calc(0.6em + 0.375rem);
  }
}
</style>
