<template>
  <layout-page name="dashboard" wide>
    <b-container>
      <b-row class="page__section page__section__main">
        <b-col class="page__content" xl="9" lg="8">
          <!-- main header -->
          <h1>{{ $t("welcome_text", { name: user.name }) }}</h1>

          <h3 v-if="hasCommunity" class="dashboard-h3">
            {{
              $t("welcome_description", {
                approvedUserCount: totalApprovedUsers,
                community: mainCommunity.name,
              })
            }}
          </h3>

          <!-- button to search for vehicule -->
          <section class="page__section" v-if="canLoanVehicle">
            <b-button pill to="/search/map" class="search_button">
              <div class="dashboard--justify-text">
                <svg-magnifying-glass />
                Emprunter un véhicule
              </div>
            </b-button>
          </section>

          <section class="page__section" v-if="!hasCommunity">
            <b-jumbotron
              bg-variant="light"
              class="no-communities-jumbotron"
              header="LocoMotion n'existe pas encore dans votre quartier"
              lead="Mais on y travaille! En attendant, devenez acteur de votre quartier et aidez LocoMotion à améliorer votre mobilité et celle de vos voisin-e-s."
            >
              <b-button variant="primary" href="https://bit.ly/locoquartier" target="_blank"
                >En savoir plus</b-button
              >
            </b-jumbotron>
          </section>

          <!-- profile pending container -->
          <section class="page__section" v-else-if="waitingForProfileApproval">
            <b-jumbotron
              bg-variant="light"
              header="Votre profil est en attente de validation."
              lead="LocoMotion s'assure que vos voisin-e-s soient bien... vos voisin-e-s! C'est pourquoi un membre du commité va vérifier votre preuve de résidence et valider votre compte. Vous recevrez un courriel de confirmation et aurez alors accès à toutes les fonctionnalités de LocoMotion!"
            >
            </b-jumbotron>
          </section>

          <section
            class="page__section page__section__tutorials"
            v-if="hasTutorial('upload-proof-of-residency')"
          >
            <h2 class="dashboard--margin-bottom">Pour commencer</h2>
            <tutorial-block
              title="Veuillez fournir une preuve de résidence"
              to="/profile/communities"
              bg-image="/img-tetes.png"
              variant="light"
            />
          </section>
          <!---->
          <!-- We still want to show loans if user has moved and is not approved in any community
            anymore. -->
          <div v-if="!hasNoLoans || hasProfileApproved">
            <div class="page__section position-relative">
              <b-row>
                <b-col cols="12" sm><h2>Emprunts</h2></b-col>
                <b-col cols="auto" class="mb-2 mb-sm-0 d-flex align-items-center">
                  <b-button
                    class="refresh-button mr-2"
                    variant="outline-secondary"
                    :disabled="$store.state.dashboard.loansLoading"
                    @click="() => $store.dispatch('dashboard/loadLoans')"
                  >
                    <b-icon
                      :animation="$store.state.dashboard.loansLoading ? 'spin' : ''"
                      icon="arrow-clockwise"
                    />
                  </b-button>
                  <b-button variant="outline-secondary" to="/profile/loans">
                    Tous mes emprunts
                  </b-button>
                </b-col>
              </b-row>
              <div class="loans-container">
                <b-tabs pills content-class="mt-3">
                  <b-tab
                    :title="`Contestés ${formatLoanCount(loans.contested)}`"
                    v-if="loans.contested && loans.contested.total > 0"
                  >
                    <p class="dashboard__instructions">
                      Un membre de l'équipe LocoMotion contactera les participant-e-s et ajustera
                      les données.
                    </p>
                    <transition-group name="dashboard-list">
                      <div
                        class="dashboard-list-item dashboard__ongoing-loans"
                        v-for="loan in loans.contested.loans"
                        :key="loan.id"
                      >
                        <loan-info-box
                          :loan="loan"
                          :user="user"
                          :buttons="['view']"
                          variant="warning"
                        />
                      </div>
                    </transition-group>
                  </b-tab>
                  <b-tab
                    :title="`Nouvelles demandes ${formatLoanCount(loans.need_approval)}`"
                    v-if="loans.need_approval && loans.need_approval.total > 0"
                  >
                    <transition-group name="dashboard-list">
                      <div
                        class="dashboard-list-item dashboard__waiting-loans"
                        v-for="loan in loans.need_approval.loans"
                        :key="loan.id"
                      >
                        <loan-info-box :loan="loan" :user="user" />
                      </div>
                    </transition-group>
                  </b-tab>
                  <b-tab
                    :title="`En cours ${formatLoanCount(loans.started)}`"
                    v-if="loans.started && loans.started.total > 0"
                  >
                    <transition-group name="dashboard-list">
                      <div
                        class="dashboard-list-item dashboard__ongoing-loans"
                        v-for="loan in loans.started.loans"
                        :key="loan.id"
                      >
                        <loan-info-box :loan="loan" :user="user" :buttons="['view', 'cancel']" />
                      </div>
                    </transition-group>
                  </b-tab>
                  <b-tab
                    :title="`Attente d'approbation ${formatLoanCount(loans.waiting)}`"
                    v-if="loans.waiting && loans.waiting.total > 0"
                  >
                    <p class="dashboard__instructions">
                      La demande est envoyée! Maintenant contactez la personne propriétaire pour
                      valider votre demande.
                    </p>
                    <transition-group name="dashboard-list">
                      <div
                        class="dashboard-list-item dashboard__waiting-loans"
                        v-for="loan in loans.waiting.loans"
                        :key="loan.id"
                      >
                        <loan-info-box :loan="loan" :user="user" :buttons="['view', 'cancel']" />
                      </div>
                    </transition-group>
                  </b-tab>
                  <b-tab
                    :title="`À venir ${formatLoanCount(loans.future)}`"
                    v-if="loans.future && loans.future.total > 0"
                  >
                    <p class="dashboard__instructions">
                      Assurez-vous de démarrer l'emprunt en ligne au moment de prendre possession du
                      véhicule!
                    </p>
                    <transition-group name="dashboard-list">
                      <div
                        class="dashboard-list-item dashboard__upcoming-loans"
                        v-for="loan in loans.future.loans"
                        :key="loan.id"
                      >
                        <loan-info-box
                          mode="upcoming"
                          :loan="loan"
                          :user="user"
                          :buttons="['view', 'cancel']"
                        />
                      </div>
                    </transition-group>
                  </b-tab>
                </b-tabs>
                <div class="position-relative">
                  <transition name="fade" appear>
                    <info-box
                      skeleton
                      class="dashboard-list-item loan-info-box"
                      key="loan-skeleton"
                      v-if="hasNoLoans && $store.state.dashboard.loansLoading"
                    />
                  </transition>
                  <transition name="fade" appear>
                    <div v-if="hasTutorial('find-vehicle')" key="find-vehicle-tutorial">
                      <tutorial-block
                        title="Empruntez un véhicule"
                        to="/search/map"
                        bg-image="/img-vehicules.png"
                        variant="light"
                      />
                    </div>
                  </transition>
                  <transition name="fade">
                    <div
                      v-if="hasTutorial('fill-your-driving-profile')"
                      key="fill-profile-tutorial"
                    >
                      <tutorial-block
                        title="Remplissez votre dossier de conduite"
                        to="/profile/borrower"
                        bg-image="/img-voiture.png"
                        variant="dark"
                      />
                    </div>
                  </transition>
                </div>
              </div>
            </div>

            <section class="page__section position-relative">
              <b-row>
                <b-col cols="12" sm>
                  <h2>Véhicules</h2>
                </b-col>
                <b-col cols="auto" class="mb-2 mb-sm-0 d-flex align-items-center">
                  <b-button
                    class="refresh-button mr-2"
                    variant="outline-secondary"
                    :disabled="$store.state.dashboard.loanablesLoading"
                    @click="() => $store.dispatch('dashboard/loadLoanables')"
                  >
                    <b-icon
                      :animation="$store.state.dashboard.loanablesLoading ? 'spin' : ''"
                      icon="arrow-clockwise"
                    />
                  </b-button>
                  <b-button variant="outline-secondary" to="/profile/loanables">
                    Tous mes véhicules
                  </b-button>
                </b-col>
              </b-row>

              <div
                class="dashboard__vehicles"
                :class="{ loading: $store.state.dashboard.loanablesLoading }"
              >
                <b-tabs
                  pills
                  content-class="mt-3"
                  :value="ownsNoLoanables && loanables.coowned.total > 0 ? 1 : 0"
                >
                  <b-tab
                    :title="`Mes véhicules ${formatLoanableCount(loanables.owned)}`"
                    v-if="loanables.owned && loanables.owned.total > 0"
                  >
                    <transition-group name="dashboard-list">
                      <loanable-info-box
                        class="dashboard-list-item"
                        v-for="loanable in loanables.owned.loanables"
                        :key="loanable.id"
                        :loanable="loanable"
                        @disabled="hideLoanable"
                        :user="user"
                      />
                    </transition-group>
                  </b-tab>
                  <b-tab
                    :title="`Véhicules gérés ${formatLoanableCount(loanables.coowned)}`"
                    v-if="loanables.coowned && loanables.coowned.total > 0"
                  >
                    <transition-group name="dashboard-list">
                      <loanable-info-box
                        class="dashboard-list-item"
                        v-for="loanable in loanables.coowned.loanables"
                        :key="loanable.id"
                        :loanable="loanable"
                        :buttons="['availability']"
                        @disabled="hideLoanable"
                        :user="user"
                      />
                    </transition-group>
                  </b-tab>
                </b-tabs>

                <transition name="fade">
                  <info-box
                    skeleton
                    class="dashboard-list-item skeleton loan-info-box"
                    key="loanable-skeleton"
                    v-if="hasNoLoanables && $store.state.dashboard.loanablesLoading"
                  />
                </transition>
                <transition name="fade">
                  <div v-if="hasTutorial('add-vehicle')" key="add-vehicle-tutorial">
                    <tutorial-block
                      title="Ajoutez un véhicule"
                      to="/profile/loanables/new"
                      bg-image="/img-voiture.png"
                      variant="dark"
                    />
                  </div>
                </transition>
              </div>
            </section>
          </div>
          <!---->
        </b-col>

        <b-col tag="aside" class="page__sidebar" xl="3" lg="4">
          <!-- sidebar -->
          <b-card>
            <div v-if="hasCompletedRegistration">
              <dashboard-balance :user="user" />

              <hr />
            </div>

            <div v-if="hasCompletedRegistration">
              <dashboard-loan-history
                :past-loans="loans.completed.loans.slice(0, 3)"
                :upcoming-loans="loans.future.loans.slice(0, 3)"
                :ongoing-loans="loans.started.loans.slice(0, 3)"
                :waiting-loans="loans.waiting.loans.slice(0, 3)"
                :borrower="user.borrower"
              />

              <hr />
            </div>

            <dashboard-resources-list :user="user" />
          </b-card>
          <!---->
        </b-col>
      </b-row>
    </b-container>

    <partners-section />
  </layout-page>
</template>

<script>
import locales from "@/locales";

import Authenticated from "@/mixins/Authenticated";
import UserMixin from "@/mixins/UserMixin";

import DashboardBalance from "@/components/Dashboard/Balance.vue";
import DashboardLoanHistory from "@/components/Dashboard/LoanHistory.vue";
import DashboardResourcesList from "@/components/Dashboard/ResourcesList.vue";
import LoanInfoBox from "@/components/Loan/InfoBox.vue";
import LoanableInfoBox from "@/components/Loanable/InfoBox.vue";
import ReleaseInfoBox from "@/components/Dashboard/ReleaseInfoBox.vue";
import TutorialBlock from "@/components/Dashboard/TutorialBlock.vue";
import PartnersSection from "@/components/Misc/PartnersSection.vue";

import MagnifyingGlass from "@/assets/svg/magnifying-glass.svg";
import InfoBox from "@/components/shared/InfoBox.vue";

export default {
  name: "Dashboard",
  mixins: [Authenticated, UserMixin],
  components: {
    InfoBox,
    DashboardBalance,
    DashboardLoanHistory,
    DashboardResourcesList,
    LoanInfoBox,
    LoanableInfoBox,
    PartnersSection,
    ReleaseInfoBox,
    TutorialBlock,
    "svg-magnifying-glass": MagnifyingGlass,
  },
  beforeMount() {
    if (!this.isLoggedIn) {
      this.skipToLogin();
    }

    if (this.isGlobalAdmin) {
      this.$router.replace("/admin/dashboard");
    }

    if (!this.hasCompletedRegistration) {
      // Skip to 2 here since we already have an email (logged in)
      this.$router.replace("/register/2");
    }
  },
  activated() {
    // Refresh loans and loanables whenever the dashboard is re-activated if they're stale.
    if (
      this.$store.state.dashboard.loansLastLoadTime === null ||
      this.$dayjs().diff(this.$store.state.dashboard.loansLastLoadTime, "minutes") > 5
    ) {
      this.$store.dispatch("dashboard/loadLoans");
    }

    if (
      this.$store.state.dashboard.loanablesLastLoadTime === null ||
      this.$dayjs().diff(this.$store.state.dashboard.loanablesLastLoadTime, "minutes") > 5
    ) {
      this.$store.dispatch("dashboard/loadLoanables");
    }
  },
  computed: {
    totalApprovedUsers() {
      if (this.hasCommunity) {
        return this.user.communities[0].approved_users_count;
      } else {
        return 0;
      }
    },
    loans() {
      return this.$store.state.dashboard.loans ?? {};
    },
    hasNoLoans() {
      return Object.values(this.loans).filter((l) => l.total !== 0).length === 0;
    },
    ownsNoLoanables() {
      return !this.loanables.owned || this.loanables.owned.total === 0;
    },
    coownsNoLoanables() {
      return !this.loanables.coowned || this.loanables.coowned.total === 0;
    },
    hasNoLoanables() {
      return this.ownsNoLoanables && this.coownsNoLoanables;
    },
    loanables() {
      return this.$store.state.dashboard.loanables ?? [];
    },
    borrowerProfileNotSubmitted() {
      return (
        !this.user.borrower || (!this.user.borrower.submitted_at && !this.user.borrower.approved_at)
      );
    },
  },
  methods: {
    hasTutorial(name) {
      switch (name) {
        case "add-vehicle":
          return (
            this.$store.state.dashboard.loanablesLoaded &&
            !this.$store.state.dashboard.loanablesLoading &&
            this.hasNoLoanables &&
            this.hasProfileApproved
          );
        case "find-vehicle":
          return (
            this.$store.state.dashboard.loansLoaded &&
            !this.$store.state.dashboard.loansLoading &&
            this.canLoanVehicle &&
            this.hasNoLoans
          );
        case "fill-your-driving-profile":
          return (
            this.hasCommunity &&
            this.borrowerProfileNotSubmitted &&
            this.user.available_loanable_types.includes("car")
          );
        case "upload-proof-of-residency":
          return this.hasCommunity && !this.hasSubmittedNecessaryProofs && !this.hasProfileApproved;
        default:
          return false;
      }
    },
    formatLoanCount(loanType) {
      if (loanType.total > loanType.loans.length) {
        return `(${loanType.loans.length} de ${loanType.total})`;
      }
      return `(${loanType.loans.length})`;
    },
    formatLoanableCount(loanableType) {
      if (!loanableType) {
        return "";
      }
      if (loanableType.total > loanableType.loanables.length) {
        return `(${loanableType.loanables.length} de ${loanableType.total})`;
      }
      return `(${loanableType.loanables.length})`;
    },
    isBorrower(loan) {
      return this.user.id === loan.borrower.user.id;
    },
    async hideLoanable(id) {
      this.$store.commit(
        "dashboard/setLoanables",
        this.loanables.filter((l) => l.id !== id)
      );
    },
  },
  i18n: {
    messages: {
      fr: {
        ...locales.fr.views.dashboard,
      },
      en: {
        ...locales.en.views.dashboard,
      },
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";

.dashboard {
  .page__section {
    &__main {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    .no-communities-jumbotron {
      .btn {
        margin-left: 0;
      }
    }
  }

  .skeleton-button {
    opacity: 0.5;
  }

  .dashboard-list-item {
    transition: all 0.8s;
    &.skeleton {
      transition: opacity 0.8s;
    }
  }

  .dashboard-list-leave-to,
  .dashboard-list-enter {
    opacity: 0;
  }
  .dashboard-list-leave-active {
    position: absolute;
    width: 100%;
  }

  .fade-leave-to,
  .fade-enter {
    opacity: 0;
  }

  .fade-enter,
  .fade-enter-active {
    transition-duration: 1s;
  }

  .fade-leave {
    opacity: 0;
    transition-duration: 0s;
  }

  .fade-leave-active {
    position: absolute;
    width: 100%;
    transition-duration: 0s;
  }

  .page__content {
    .partners-section {
      margin-top: 0;
      margin-bottom: 80px;
    }
  }

  &__vehicles {
    .loanable-info-box {
      margin-bottom: 1.25rem;
    }
  }

  .loan-info-box {
    margin-bottom: 1.25rem;
  }

  h1 {
    font-weight: 700;

    @include media-breakpoint-down(md) {
      line-height: $h2-line-height;
      font-size: $h2-font-size;
    }
  }

  h2 {
    font-weight: 700;

    @include media-breakpoint-down(md) {
      line-height: $h3-line-height;
      font-size: $h3-font-size;
    }
  }

  .dashboard-h3 {
    margin-bottom: 1rem;
    line-height: $h3-line-height;
    font-size: $h3-font-size;

    @include media-breakpoint-down(md) {
      line-height: $h4-line-height;
      font-size: $h4-font-size;
    }
  }

  .search_button {
    background: #fff;
    color: #7a7a7a;
    border: 1px solid #e5e5e5;
    padding: 16px, 16px, 16px, 45px;
    margin: 0;
    width: 300px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &:hover {
      background: #fff;
      color: #7a7a7a;
    }
  }
}

.dashboard--margin-top {
  margin-top: 25px;
}

.dashboard--margin-bottom {
  margin-bottom: 25px;
}

.dashboard--justify-text {
  text-align: justify;
}
</style>
