<template>
  <div class="admin-list-actions text-right">
    <b-button
      v-if="showView && !item[deletedField]"
      class="mr-1"
      size="sm"
      variant="success"
      :to="`/admin/${slug}/${item.id}`"
    >
      {{ $t("view") | capitalize }}
    </b-button>
    <validated-button
      v-if="showDestroy && !item[deletedField]"
      size="sm"
      class="mr-1"
      variant="danger"
      :action="destroy"
    >
      {{ $t("archive") | capitalize }}
      <template #question>
        <slot name="destroy-question">
          {{ `Êtes-vous sûr de vouloir retirer ${itemName}?` }}
        </slot>
      </template>
    </validated-button>
    <validated-button
      v-if="showRestore && !!item[deletedField]"
      size="sm"
      class="mr-1"
      variant="warning"
      :action="restore"
    >
      {{ $t("restore") | capitalize }}
      <template #question>
        <slot name="restore-question">
          {{ `Êtes-vous sûr de vouloir restaurer ${itemName}?` }}
        </slot>
      </template>
    </validated-button>
  </div>
</template>

<script>
import locales from "@/locales";
import ValidatedButton from "@/components/Admin/ValidatedButton.vue";

export default {
  name: "AdminListActions",
  components: { ValidatedButton },
  props: {
    showView: {
      type: Boolean,
      default: true,
    },
    showDestroy: {
      type: Boolean,
      default: true,
    },
    showRestore: {
      type: Boolean,
      default: true,
    },
    item: {
      type: Object,
      required: true,
    },
    itemName: {
      type: String,
      required: true,
    },
    slug: {
      required: true,
      type: String,
    },
    destroyAction: {
      type: Function,
      default: null,
    },
    restoreAction: {
      type: Function,
      default: null,
    },
    deletedField: {
      type: String,
      default: "deleted_at",
    },
    restoreParams: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    async destroy() {
      if (this.destroyAction) {
        await this.destroyAction(this.item);
      } else {
        await this.$store.dispatch(`${this.slug}/destroy`, this.item.id);
      }
      this.$emit("change");
    },
    async restore() {
      if (this.restoreAction) {
        await this.restoreAction(this.item);
      } else {
        await this.$store.dispatch(`${this.slug}/restore`, {
          id: this.item.id,
          params: this.restoreParams,
        });
      }
      this.$emit("change");
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
